* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: #000;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  letter-spacing: 0.15em;
  line-height: 2;
}

@font-face {
  font-family: "apricotJapanesefont";
  src: url("../../fonts/apricotJapanesefont.woff2") format("woff2"), url("apricotJapanesefont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "APJapanesefontH";
  src: url("../../fonts/APJapanesefontH.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "APJapanesefontHT";
  src: url("../../fonts/APJapanesefontHT.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Natsume";
  src: url("../../fonts/Natsume.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../../RoundedMplus1c-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../../RoundedMplus1c-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../../'RoundedMplus1c-Bold.woff2'") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../../RoundedMplus1c-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../../RoundedMplus1c-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../../RoundedMplus1c-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounded Mplus 1c";
  src: url("../../RoundedMplus1c-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: #f0f0f0;
}
.header .g-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  height: 114px;
  padding: 0 4%;
  margin: 0 auto;
}
.header .g-nav .logo {
  position: relative;
  display: grid;
  place-items: center;
}
.header .g-nav .logo span {
  letter-spacing: 0.2em;
  font-weight: bold;
}
.header .g-nav .logo span:first-child {
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  color: #90A4AE;
}
.header .g-nav .logo span + span {
  font-size: 32px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #2AA8C3;
}
.header .g-nav .nav {
  display: flex;
  justify-content: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}
.header .g-nav .nav .nav-item a {
  display: block;
}
.header .g-nav .nav .primary-btn {
  border: 2px solid #2AA8C3;
  border-radius: 50px;
  background-color: #2AA8C3;
}
.header .g-nav .nav .primary-btn a {
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
}

.problems {
  position: relative;
  padding: 160px 0 50px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #f0f0f0;
}
.problems .arrow {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 120px;
  height: 60px;
  background-color: #f0f0f0;
  clip-path: polygon(50% 65%, 0 0, 100% 0);
  z-index: 2;
}
.problems .container {
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
.problems .container .catch {
  text-align: center;
}
.problems .container .catch .problems-text {
  font-size: 24px;
  font-weight: bold;
  color: #555;
}
.problems .container .catch .problems-title {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 48px;
  letter-spacing: 0.1em;
  color: #555;
}
.problems .container .catch .problems-title::before,
.problems .container .catch .problems-title::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 50px;
  height: 50px;
}
.problems .container .catch .problems-title::before {
  left: -60px;
  background: url("../../images/SVG/line-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.problems .container .catch .problems-title::after {
  right: -60px;
  background: url("../../images/SVG/line-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.problems .container .img-wrap {
  margin-top: 36px;
}
.problems .container .img-wrap img {
  width: min(92%, 760px);
  margin: 0 auto;
}
.problems .container .text-wrap {
  margin-top: 64px;
}
.problems .container .text-wrap .text {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  color: #555;
}

.resolve {
  position: relative;
  padding: 10px 0 0;
  background-color: #ffe3e3;
  background: url("../../images/children.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: center;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, rgba(0, 0, 0, 0) 90%);
          mask-image: linear-gradient(180deg, #000 60%, rgba(0, 0, 0, 0) 90%);
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.resolve .bubble {
  position: absolute;
  top: -51px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  padding: 24px 36px 28px;
  border-radius: 100vh;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #fff;
  background-color: #FF8719;
  letter-spacing: 0.2em;
  line-height: 1.6;
  box-shadow: 0px 0px 0px 4px #ffd8b5;
}
.resolve .bubble span {
  font-size: 36px;
}
.resolve .bubble::before {
  content: "";
  position: absolute;
  bottom: 34px;
  width: 80%;
  height: 3px;
  background-color: #fff;
}
.resolve .bubble::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  width: 32px;
  height: 20px;
  transform: translateX(-50%);
  background-color: #fff;
  clip-path: polygon(50% 65%, 0 0, 100% 0);
}
.resolve .img-box {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 1;
}
.resolve .dog-img {
  width: 100px;
  height: 100px;
  -webkit-mask-image: radial-gradient(circle at center, #000 40%, rgba(0, 0, 0, 0) 70%);
          mask-image: radial-gradient(circle at center, #000 40%, rgba(0, 0, 0, 0) 70%);
}
.resolve .container {
  position: relative;
  display: grid;
  place-items: center;
  max-width: 1160px;
  height: 66.6666666667vw;
  min-height: 650px;
  margin: 0 auto;
  z-index: 2;
}
.resolve .container .catch {
  height: 100%;
  margin-top: 120px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.6;
}
.resolve .container .catch .text {
  font-size: 48px;
  font-weight: bold;
  color: #ff6b6b;
  text-shadow: 0 0 3px rgb(255, 255, 255);
  line-height: 1.6;
  font-size: 36px;
  color: #555;
}
.resolve .container .catch .text:last-child {
  font-size: 64px;
  color: #555;
  line-height: 1.6;
}
.resolve .custom-shape-divider-top-1766060671 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.resolve .custom-shape-divider-top-1766060671 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 150px;
}
.resolve .custom-shape-divider-top-1766060671 .shape-fill {
  fill: #D6F1FF;
}
.resolve .custom-shape-divider-top-1766230186 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.resolve .custom-shape-divider-top-1766230186 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}
.resolve .custom-shape-divider-top-1766230186 .line {
  height: 155px;
}
.resolve .custom-shape-divider-top-1766230186 .line .shape-fill {
  fill: #fafafa;
}
.resolve .custom-shape-divider-top-1766230186 .shape-fill {
  fill: #f0f0f0;
}

.about {
  position: relative;
  padding: 300px 0 160px;
  background-color: #f0f0f0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 10%);
          mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 10%);
}
.about .obj {
  position: absolute;
  width: 150px;
  max-width: 150px;
  aspect-ratio: 1/1;
  z-index: -1;
}
.about .container {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 64px;
  max-width: 1160px;
  margin: 0 auto;
}
.about .container .img.woman {
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 500px;
  aspect-ratio: 1663/972;
  display: block;
  z-index: -2;
  filter: blur(1px);
}
.about .container .catch {
  position: relative;
}
.about .container .catch .about-title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  width: -moz-max-content;
  width: max-content;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 64px;
  color: #555;
}
.about .container .catch .about-title::before, .about .container .catch .about-title::after {
  content: "";
  width: 0.5em;
  height: 3px;
  border-radius: 100vh;
  background-color: #ff6b6b;
  transform: translateY(50%);
}
.about .container .catch .about-sub-title {
  font-size: 26px;
  font-weight: bold;
  color: #555;
}
.about .container .catch .wrapper {
  margin-top: 12px;
}
.about .container .catch .wrapper .text {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
.about .container .catch .obj.triangle-blue {
  width: 500px;
  max-width: 500px;
  left: 0;
  top: -125px;
  transform: rotate(120deg);
  -webkit-mask-image: radial-gradient(circle at center, #000 90%, rgba(0, 0, 0, 0) 100%);
          mask-image: radial-gradient(circle at center, #000 90%, rgba(0, 0, 0, 0) 100%);
}
.about .container .text-wrap {
  position: relative;
}
.about .container .text-wrap .em {
  font-size: 1.2em;
  color: #ff6b6b;
}
.about .container .text-wrap .text-head .text {
  font-size: 26px;
  font-weight: bold;
  color: #555;
}
.about .container .text-wrap .text-content {
  font-size: 18px;
  color: #555;
}
.about .container .text-wrap .text-content p {
  text-align: justify;
  margin: 16px 0;
}
.about .container .text-wrap .text-content .p-em {
  font-size: 22px;
  font-weight: bold;
}
.about .container .text-wrap .text-content .about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.about .container .text-wrap .text-content .about-list .list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.15em;
}
.about .container .text-wrap .text-content .about-list .list-item::before {
  content: "";
  width: 0.8em;
  height: 2px;
  border-radius: 100vh;
  background-color: #ff6b6b;
  transform: rotate(-45deg);
}
.about .container .text-wrap .obj {
  position: absolute;
  width: 150px;
  max-width: 150px;
  aspect-ratio: 1/1;
  z-index: -1;
}
.about .container .text-wrap .obj.triangle-yellow {
  width: 300px;
  max-width: 300px;
  right: -150px;
  bottom: 0%;
  transform: rotate(-120deg);
  -webkit-mask-image: radial-gradient(circle at center, #000 90%, rgba(0, 0, 0, 0) 100%);
          mask-image: radial-gradient(circle at center, #000 90%, rgba(0, 0, 0, 0) 100%);
}

.office {
  background-color: #b3c5db;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding-bottom: 200px;
}
.office .container {
  position: relative;
  width: 100%;
  padding-right: max(min(3.47vw, 50px), (100vw - 1171px) / 2);
  border: 1px solid transparent;
}
.office .container .catch {
  text-align: center;
  z-index: 3;
  margin-top: -60px;
}
.office .container .catch .office-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: -moz-max-content;
  width: max-content;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 64px;
  color: #555;
}
.office .container .catch .office-title::before, .office .container .catch .office-title::after {
  content: "";
  width: 1em;
  height: 3px;
  border-radius: 100vh;
  background-color: #fdef2e;
  transform: translateY(50%) rotate(-45deg);
}
.office .container .catch .office-sub-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #555;
}
.office .container .text-wrap {
  padding: 24px 46px;
  text-align: center;
}
.office .container .text-wrap .text {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
.office .container .inner {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  padding: 84px min(10.56vw, 152px) 60px min(3.47vw, 50px);
  border-radius: 0 100vh 100vh 0;
  background: url("../../images/office1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(20%);
  z-index: 1;
}
.office .container .inner .img.office {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 500px;
  z-index: 2;
}
.office .container .inner .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  z-index: 3;
  padding: 12px;
  border-radius: 0 100vh 100vh 0;
  background-color: rgba(255, 255, 255, 0.6);
}
.office .container .inner .content-wrapper dl dt {
  border-bottom: 1px solid #555;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-shadow: 2px 2px 1px #fff;
}
.office .container .inner .content-wrapper dl dd {
  padding-left: 0.8em;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 2px #fff;
}
.office .container .inner .content-wrapper dl dd {
  margin-top: 16px;
}

.feature {
  position: relative;
  padding: 160px 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #f0f0f0;
  z-index: 1;
}
.feature .feature-svg-1 {
  position: absolute;
  top: -40%;
  left: 0%;
  z-index: -1;
  width: 600px;
}
.feature .container {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}
.feature .container .obj {
  position: absolute;
}
.feature .container .obj.line-yellow {
  top: 0;
  right: 0;
  transform: translate(50%, -100%);
}
.feature .container .catch {
  text-align: center;
}
.feature .container .catch .feature-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: -moz-max-content;
  width: max-content;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 64px;
  color: #555;
}
.feature .container .catch .feature-title::before, .feature .container .catch .feature-title::after {
  content: "";
  width: 0.5em;
  height: 3px;
  border-radius: 100vh;
  background-color: #2379E3;
  transform: translateY(50%);
}
.feature .container .catch .feature-sub-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #555;
}
.feature .container .cards-container {
  margin-top: 64px;
}
.feature .container .cards-container .cards-head {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #555;
}
.feature .container .cards-container .cards {
  counter-reset: card;
  display: grid;
  gap: 84px;
  margin-top: 84px;
}
.feature .container .cards-container .cards .card {
  counter-increment: card;
  position: relative;
  display: flex;
  gap: 32px;
  border-radius: 10px;
}
.feature .container .cards-container .cards .card .img-wrap {
  flex: 1 1 40%;
}
.feature .container .cards-container .cards .card .img-wrap img {
  border-radius: 10px;
}
.feature .container .cards-container .cards .card .content {
  display: grid;
  place-content: center;
  flex: 1 1 60%;
}
.feature .container .cards-container .cards .card .content .title {
  font-size: 32px;
  font-weight: bold;
  color: #555;
}
.feature .container .cards-container .cards .card .content .text {
  margin-top: 12px;
  font-size: 18px;
  color: #333;
}
.feature .container .cards-container .cards .card .content .icon-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}
.feature .container .cards-container .cards .card .content .icon-wrap .icon {
  display: inline-grid;
  place-items: center;
  flex: 1;
  padding: 12px 12px;
  border: 3px solid #55DD96;
  border-radius: 100vh;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.15em;
  color: #55DD96;
}
.feature .container .cards-container .cards .card:nth-child(2) {
  flex-direction: row-reverse;
}
.feature .container .cards-container .cards .card:nth-child(2) .icon-wrap .icon {
  padding: 6px 12px;
  border-color: #2379E3;
  color: #2379E3;
}
.feature .container .cards-container .cards .card:nth-child(3) .icon-wrap .icon {
  border-color: #ff6b6b;
  color: #ff6b6b;
}
.feature .container .cards-container .cards .card::after {
  content: "0" counter(card);
  font-size: 256px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.4;
  color: #55DD96;
  z-index: -1;
}
.feature .container .cards-container .cards .card:nth-child(2)::after {
  left: 0;
  color: #2379E3;
}
.feature .container .cards-container .cards .card:nth-child(3)::after {
  color: #ff6b6b;
}
.feature .container .feature-bottom {
  position: relative;
  margin-top: 160px;
}
.feature .container .feature-bottom .obj.line-blue {
  z-index: -1;
  top: -10%;
  left: -10%;
}
.feature .container .feature-bottom .bottom-head {
  text-align: center;
}
.feature .container .feature-bottom .bottom-head .text {
  font-size: 32px;
  font-weight: bold;
  color: #555;
}
.feature .container .feature-bottom .bottom-head .desc {
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #555;
}
.feature .container .feature-bottom .content-wrap {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-areas: "lt ct rt" "lb ct rb";
  row-gap: 16px;
  margin-top: 64px;
  padding: 46px;
  border-radius: 36px;
  background-color: #eee;
  box-shadow: 0px 0px 150px 5px rgba(255, 195, 195, 0.8) inset, 0px 0px 15px 7px rgba(255, 195, 195, 0.8);
  border-radius: 10px;
}
.feature .container .feature-bottom .content-wrap .item {
  padding-inline: 12px;
}
.feature .container .feature-bottom .content-wrap .item .title {
  padding: 16px 16px;
  border-radius: 100vh;
  background-color: #ff6b6b;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.2em;
}
.feature .container .feature-bottom .content-wrap .item .list {
  margin-top: 24px;
}
.feature .container .feature-bottom .content-wrap .item .list .list-item {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  line-height: 1.8;
}
.feature .container .feature-bottom .content-wrap .item .list .list-item:not(:first-child) {
  margin-top: 12px;
}
.feature .container .feature-bottom .content-wrap .item:nth-child(2) .title {
  background-color: #2379E3;
}
.feature .container .feature-bottom .content-wrap .item:nth-child(4) .title {
  background-color: #55DD96;
}
.feature .container .feature-bottom .content-wrap .item:nth-child(5) .title {
  background-color: #ECAEFF;
}
.feature .container .feature-bottom .content-wrap .item.left-top {
  grid-area: lt;
}
.feature .container .feature-bottom .content-wrap .item.left-bottom {
  grid-area: lb;
  margin-top: 16px;
}
.feature .container .feature-bottom .content-wrap .item.center {
  grid-area: ct;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature .container .feature-bottom .content-wrap .item.center img {
  width: 45%;
  aspect-ratio: 418/616;
}
.feature .container .feature-bottom .content-wrap .item.right-top {
  grid-area: rt;
}
.feature .container .feature-bottom .content-wrap .item.right-bottom {
  grid-area: rb;
  margin-top: 16px;
}

.program {
  position: relative;
  margin: 160px 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #fafafa;
  z-index: 1;
}
.program .container {
  position: relative;
  margin-left: 8%;
  border-radius: 100vh 0 0 100vh;
  background: #b3c5db;
}
.program .container .catch {
  position: relative;
}
.program .container .catch .program-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: -moz-max-content;
  width: max-content;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 64px;
  color: #555;
}
.program .container .catch .program-title::after {
  content: "";
  width: 1em;
  height: 3px;
  border-radius: 100vh;
  background-color: #FF8719;
  transform: translateY(50%);
}
.program .container .catch .program-sub-title {
  font-size: 26px;
  font-weight: bold;
  color: #555;
}
.program .container .inner {
  max-width: 1160px;
  margin: 0 auto;
}
.program .container .inner .obj.circle-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  filter: blur(2px);
  transform: translate(-30%, -30%);
  z-index: -1;
}
.program .container .inner .box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 36px 0;
}
.program .container .inner .box-container .box {
  position: relative;
}
.program .container .inner .box-container .box .content {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
}
.program .container .inner .box-container .box .content .heading {
  text-align: center;
  font-size: 20px;
  background: linear-gradient(90deg, #5d9f66 0px, #5d9f66 3px, transparent 3px, transparent 100%);
  color: #555;
}
.program .container .inner .box-container .box .content .thumbnail {
  width: 80%;
  aspect-ratio: 1/1;
  margin: 16px auto;
  border-radius: 50%;
}
.program .container .inner .box-container .box .content .text {
  padding: 8px;
  border-bottom: 1px solid #000;
}
.program .container .inner .box-container .box .content .list {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 16px;
}
.program .container .inner .box-container .box .content .list .list-item {
  padding: 8px 0;
}
.program .container .inner .box-container .box .content .list .list-item span:last-child {
  margin-left: 4px;
  color: #555;
}
.program .container .inner .box-container .box:nth-of-type(1) .content span:first-child {
  color: #5d9f66;
}
.program .container .inner .box-container .box:nth-of-type(2) .content .heading {
  background: linear-gradient(90deg, #2379E3 0px, #2379E3 3px, transparent 3px, transparent 100%);
}
.program .container .inner .box-container .box:nth-of-type(2) .content span:first-child {
  color: #2379E3;
}
.program .container .inner .box-container .box:nth-of-type(3) .heading {
  background: linear-gradient(90deg, #FF8719 0px, #FF8719 3px, transparent 3px, transparent 100%);
}
.program .container .inner .box-container .box:nth-of-type(3) span:first-child {
  color: #FF8719;
}
.program .domains {
  position: relative;
  max-width: 1160px;
  margin: 160px auto;
}
.program .domains .domains-head {
  text-align: center;
}
.program .domains .domains-head .text {
  font-size: 32px;
  font-weight: bold;
  color: #555;
}
.program .domains .domains-head .desc {
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #555;
}
.program .domains .domain-wrap {
  position: relative;
  counter-reset: domains;
  width: 360px;
  height: 360px;
  margin: 94px auto;
}
.program .domains .domain-wrap::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: conic-gradient(#ff6b6b 0 20%, #ECAEFF 20% 40%, #FF8719 40% 60%, #21C4E9 60% 80%, #55DD96 80% 100%);
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 6px), #000 calc(100% - 6px));
  mask: radial-gradient(farthest-side, transparent calc(100% - 6px), #000 calc(100% - 6px));
  -webkit-mask-composite: source-in, xor;
          mask-composite: intersect;
}
.program .domains .domain-wrap::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 310px;
  height: 310px;
  border: 3px dotted #fdef2e;
  border-radius: 50%;
}
.program .domains .domain-wrap .domain {
  --n: 5;
  --r: 150px;
  --angle: calc(360deg / var(--n) * var(--i));
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  place-items: center;
  width: 150px;
  aspect-ratio: 1/1;
  border: 10px solid #ff6b6b;
  border-radius: 50%;
  background-color: #fff;
  color: #ff6b6b;
  z-index: 1;
  transform: translate(-50%, -50%) rotate(calc(var(--angle) - 90deg)) translateX(var(--r)) rotate(calc(-1 * (var(--angle) - 90deg)));
}
.program .domains .domain-wrap .domain .text {
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  z-index: 3;
  text-shadow: 2px 2px 1px #fff;
}
.program .domains .domain-wrap .domain::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  counter-increment: domains;
  content: "0" counter(domains);
  display: grid;
  place-items: center;
  font-size: 82px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  color: #eee;
  z-index: 2;
}
.program .domains .domain-wrap .domain::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 142.5px;
  aspect-ratio: 1/1;
  border: 2px solid #fff;
  border-radius: 50%;
}
.program .domains .domain-wrap .domain.second {
  border-color: #ECAEFF;
  color: #ECAEFF;
}
.program .domains .domain-wrap .domain.third {
  border-color: #FF8719;
  color: #FF8719;
}
.program .domains .domain-wrap .domain.fourth {
  border-color: #21C4E9;
  color: #21C4E9;
}
.program .domains .domain-wrap .domain.fifth {
  border-color: #55DD96;
  color: #55DD96;
}
.program .domains .list-wrap {
  max-width: 760px;
  margin: 0 auto;
}
.program .domains .list-wrap .list {
  counter-reset: list;
}
.program .domains .list-wrap .list .list-item {
  position: relative;
  counter-increment: list;
  display: grid;
}
.program .domains .list-wrap .list .list-item:not(first-child) {
  margin-top: 16px;
}
.program .domains .list-wrap .list .list-item::before {
  content: "0" counter(list);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-grid;
  place-content: center;
  width: 50px;
  aspect-ratio: 1/1;
  border: 4px solid #ff6b6b;
  border-radius: 50%;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  color: #ff6b6b;
}
.program .domains .list-wrap .list .list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 23px;
  display: inline-block;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, #ff6b6b 0%, #ECAEFF 30%);
}
.program .domains .list-wrap .list .list-item:nth-child(2)::before {
  border-color: #ECAEFF;
  color: #ECAEFF;
}
.program .domains .list-wrap .list .list-item:nth-child(2)::after {
  background: linear-gradient(180deg, #ECAEFF 0%, #FF8719 90%);
}
.program .domains .list-wrap .list .list-item:nth-child(2) .list-title {
  color: #ECAEFF;
}
.program .domains .list-wrap .list .list-item:nth-child(3)::before {
  border-color: #FF8719;
  color: #FF8719;
}
.program .domains .list-wrap .list .list-item:nth-child(3)::after {
  background: linear-gradient(180deg, #FF8719 0%, #21C4E9 80%);
}
.program .domains .list-wrap .list .list-item:nth-child(3) .list-title {
  color: #FF8719;
}
.program .domains .list-wrap .list .list-item:nth-child(4)::before {
  border-color: #21C4E9;
  color: #21C4E9;
}
.program .domains .list-wrap .list .list-item:nth-child(4)::after {
  background: linear-gradient(180deg, #21C4E9 0%, #55DD96 80%);
}
.program .domains .list-wrap .list .list-item:nth-child(4) .list-title {
  color: #21C4E9;
}
.program .domains .list-wrap .list .list-item:nth-child(5)::before {
  border-color: #55DD96;
  color: #55DD96;
}
.program .domains .list-wrap .list .list-item:nth-child(5) .list-title {
  color: #55DD96;
}
.program .domains .list-wrap .list .list-item .list-title {
  padding: 8px 0 8px 60px;
  font-size: 22px;
  font-weight: bold;
  color: #ff6b6b;
}
.program .domains .list-wrap .list .list-item .list-text {
  width: calc(100% - 60px);
  margin-left: auto;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  background-color: #fff;
  border-radius: 16px;
}
.program .domains .obj {
  position: absolute;
  width: 150px;
  aspect-ratio: 1/1;
  rotate: 45deg;
  z-index: -1;
}
.program .domains .obj.square-green {
  width: 200px;
  top: 10%;
}
.program .domains .obj.square-orange {
  top: 0%;
  right: 5%;
}
.program .domains .obj.square-red {
  width: 250px;
  top: 40%;
  right: 0%;
}
.program .domains .obj.square-blue {
  width: 80px;
  top: 75%;
  left: 0;
}
.program .domains .obj.square-pink {
  width: 200px;
  top: 90%;
  right: 0;
}

.cv {
  position: relative;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background: url("../../images/bg_cv.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.cv .container {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  padding: 160px 0 160px;
  z-index: 3;
}
.cv .container .content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cv .container .content-wrap .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.cv .container .content-wrap .text-wrap .em-text {
  font-size: 24px;
  font-weight: bold;
}
.cv .container .content-wrap .text-wrap .em-text span {
  font-size: 46px;
}
.cv .container .content-wrap .text-wrap p {
  font-size: 18px;
  color: #fff;
  line-height: 3;
}
.cv .container .content-wrap .text-wrap p:last-child {
  font-size: 28px;
  font-weight: bold;
}
.cv .container .content-wrap .btn {
  margin-top: 24px;
  padding: 16px 24px;
  border-radius: 100vh;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffa1ae;
}
.cv .container .svg-tri {
  position: absolute;
  bottom: 5%;
  left: 0%;
  width: 250px;
  transform: rotate(30deg);
  z-index: -2;
}
.cv .container .svg-tri2 {
  top: 0;
  right: 10%;
  left: initial;
  transform: rotate(-45deg);
}
.cv .container .svg-tri3 {
  bottom: 10%;
  right: 7%;
  left: initial;
  transform: rotate(135deg);
}
.cv .container .svg-tri4 {
  top: 10%;
  left: 5%;
  transform: rotate(-135deg);
}

.voice {
  background-color: #fef1fc;
  font-family: "M PLUS Rounded 1c", sans-serif;
  position: relative;
}
.voice .custom-shape-divider-bottom-1765980372 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.voice .custom-shape-divider-bottom-1765980372 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 166px;
}
.voice .custom-shape-divider-bottom-1765980372 .shape-fill {
  fill: #fef1fc;
}
.voice .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 160px 0;
}
.voice .container .catch .voice-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.voice .container .item-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 4rem;
}
.voice .container .item-container .item {
  display: flex;
  align-items: center;
  gap: 32px;
}
.voice .container .item-container .item .icon {
  width: 100px;
  height: 100px;
}
.voice .container .item-container .item .voice-text {
  position: relative;
  width: 60%;
  padding: 16px 24px;
  border-radius: 32px;
  background-color: #fff;
  font-weight: semi-bold;
  font-size: 16px;
  color: #333;
}
.voice .container .item-container .item .voice-text::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 24px;
  top: 50%;
  left: -24px;
  transform: translateY(-50%) rotate(-90deg);
  background-color: #fff;
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}
.voice .container .item-container .item:nth-child(even) {
  flex-direction: row-reverse;
}
.voice .container .item-container .item:nth-child(even) .voice-text::before {
  left: initial;
  right: -24px;
  transform: translateY(-50%) rotate(90deg);
}

.faq {
  padding: 400px 0;
  position: relative;
  background-color: #d6f1ff;
}
.faq .custom-shape-divider-top-1765979172 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.faq .custom-shape-divider-top-1765979172 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 166px;
}
.faq .custom-shape-divider-top-1765979172 .shape-fill {
  fill: #fef1fc;
}
.faq .custom-shape-divider-bottom-1765979762 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.faq .custom-shape-divider-bottom-1765979762 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 166px;
}
.faq .custom-shape-divider-bottom-1765979762 .shape-fill {
  fill: #f0f0f0;
}
.faq .container {
  position: relative;
  max-width: 760px;
  margin: 0 auto;
}
.faq .container .catch .faq-title {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 64px;
  color: #555;
  text-align: center;
}
.faq .container .catch .faq-title::before, .faq .container .catch .faq-title::after {
  position: absolute;
  top: 50%;
  content: "";
  width: 0.5em;
  height: 3px;
  border-radius: 100vh;
  background-color: #FF8719;
  transform: translateY(50%);
}
.faq .container .catch .faq-title::before {
  left: -0.7em;
}
.faq .container .catch .faq-title::after {
  right: -0.7em;
}
.faq .container .catch .faq-text {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 16px auto 0;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.faq .container .catch .faq-text::before, .faq .container .catch .faq-text::after {
  position: absolute;
  top: 50%;
  content: "";
  width: 30px;
  height: 3px;
  border-radius: 100vh;
  background-color: #FF8719;
  transform: rotate(60deg) translateY(50%);
}
.faq .container .catch .faq-text::before {
  left: -38px;
  transform: rotate(60deg) translateY(50%);
}
.faq .container .catch .faq-text::after {
  right: -38px;
  transform: rotate(-60deg) translateY(50%);
}
.faq .container .accordion {
  margin-top: 60px;
}
.faq .container .accordion .accordion-list .accordion-item .accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
  border-bottom: 2px solid #000;
}
.faq .container .accordion .accordion-list .accordion-item .accordion-header .accordion-title {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
.faq .container .accordion .accordion-list .accordion-item .accordion-header .close-icon {
  color: #000;
  transform: rotate(45deg);
}
.faq .container .accordion .accordion-list .accordion-item .inner-list {
  height: 0;
  max-height: auto;
  overflow: hidden;
  transition: all 0.5s;
  background: #fafafa;
  border-radius: 0 0 16px 16px;
}
.faq .container .accordion .accordion-list .accordion-item .inner-list .inner-list-item {
  line-height: 2;
  padding: 24px 16px;
  font-weight: 500;
  color: #333;
  opacity: 0;
  transform: translate(15px, 10px);
}
.faq .container .accordion .accordion-list .accordion-item .inner-list .inner-list-item:not(:last-child) {
  border-bottom: 2px solid #fff;
}

.cta {
  padding: 200px 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #f0f0f0;
  border-radius: 0 0 80px 80px;
}
.cta .container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 48px;
  border-radius: 20px;
  background-color: #fff;
}
.cta .container .catch {
  text-align: center;
}
.cta .container .catch .cta-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: -moz-max-content;
  width: max-content;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 64px;
  color: #555;
}
.cta .container .catch .cta-title::before, .cta .container .catch .cta-title::after {
  content: "";
  width: 0.5em;
  height: 3px;
  border-radius: 100vh;
  background-color: #d4d3d3;
  transform: translateY(50%);
}
.cta .container .catch .cta-text {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #555;
}
.cta .container .form {
  margin-top: 48px;
}
.cta .container .form .form-group {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 32px;
}
.cta .container .form .form-group .label {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  flex: 0.1 1 10em;
  min-width: 10em;
}
.cta .container .form .form-group .label label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.cta .container .form .form-group .label .required {
  padding: 0.4em;
  border-radius: 3px;
  background-color: rgb(192, 47, 47);
  font-size: 12px;
  color: #fff;
}
.cta .container .form .form-group input {
  flex: 0.6 1 330px;
  min-width: 330px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  letter-spacing: 0.1em;
  background-color: #DDEEF7;
}
.cta .container .form .form-group input:focus {
  box-shadow: 0 0 0 2px #000;
}
.cta .container .form .form-group textarea {
  flex: 0.6 1 330px;
  min-width: 330px;
  height: 184px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  letter-spacing: 0.1em;
  background-color: #DDEEF7;
}
.cta .container .form .form-group textarea:focus {
  box-shadow: 0 0 0 2px #000;
}
.cta .container .form .submit-btn {
  display: block;
  width: 200px;
  margin: 3rem auto 0;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(255, 212, 212) 0%, rgb(228, 48, 48) 40%);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.firstview {
  background-color: #f0f0f0;
}
.firstview .container {
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 4%;
}
.firstview .container .decoration-text {
  position: absolute;
  bottom: 0%;
  right: 4%;
  font-size: 240px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0;
  color: #fff;
  z-index: 1;
  opacity: 0.5;
}
.firstview .container .slider__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.firstview .container .inner {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.firstview .container .inner .main-title {
  font-size: 48px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  color: #21C4E9;
}
.firstview .container .inner .text {
  font-size: 32px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  color: #ff6b6b;
}

.footer small {
  display: block;
  text-align: center;
  padding: 1rem 0;
  font-size: 12px;
  color: #555;
}/*# sourceMappingURL=style.css.map */