@use "default/global";
@use "modules/header";
@use "modules/problems";
@use "modules/resolve";
@use "modules/about";
@use "modules/office";
@use "modules/feature";
@use "modules/program";
@use "modules/cv";
@use "modules/voice";
@use "modules/faq";
@use "modules/cta";
@use "modules/firstview";
@use "modules/footer";

//npx sass css/style.scss css/style.css
//npx sass --watch css/style.scss:css/style.css
//npm run sass
