@use "../default/variables" as v;
@use "../default/mixin" as m;
.about {
  position: relative;
  padding: 300px 4% 160px;
  background-color: #f0f0f0;
  font-family: v.$m-plus-round;
  mask-image: linear-gradient(180deg, #0000 0%, #000 10%);
  overflow: hidden;
  .obj {
    position: absolute;
    width: 150px;
    max-width: 150px;
    aspect-ratio: 1/1;
    z-index: -1;
  }
  .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 38px;
    max-width: 1160px;
    margin: 0 auto;
    @include m.mq(lg) {
      grid-template-columns: auto max(500px);
      gap: 64px;
    }
    .img.woman {
      position: absolute;
      bottom: 0;
      right: 0%;
      min-width: 500px;
      max-width: 500px;
      aspect-ratio: 1663 / 972;
      display: block;
      z-index: -2;
      filter: blur(1px);
      @include m.mq(lg) {
        left: 0%;
      }
    }
    
    .catch {
      position: relative;
      .about-title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        font-family: v.$noto-sans;
        font-size: clamp(3rem, 1.3333rem + 7.1111vw, 4rem);
        color: v.$dk-gray; 
        --pseudo-opacity: 0;
        &::before,
        &::after {
          content: "";
          width: 0.5em;
          height: 3px;
          border-radius: 100vh;
          background-color: v.$red;
          transform: translateY(50%);
          opacity: var(--pseudo-opacity);
        }
        &::before {
          margin-right: 5px;
        }
        &::after {
          margin-left: 5px;
        }
      }
      .about-sub-title {
        font-size: clamp(1.125rem, 0.5rem + 2.6667vw, 1.5rem);
        font-weight: bold;
        color: v.$dk-gray;
        text-align: center;
      }
      .obj.triangle-blue {
        width: 400px;
        max-width: 400px;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%) rotate(120deg);
        mask-image: radial-gradient(circle at center, #000 90%, #0000 100%);
        @include m.mq(sm) {
          width: 500px;
          max-width: 500px;
          top: 50%;
          left: 55%;
          transform: translate(-50%, -50%) rotate(120deg);
        }
        @include m.mq(lg) {
          top: -125px;
          left: 70px;
          transform: translate(0, 0) rotate(120deg);
        }
      }
    }
    .text-wrap{
      position: relative;
      max-width: 600px;
      margin: 0 auto;
      @include m.mq(lg) {
        margin: 0;
      }
      .em {
        font-size: 1.2em;
        color: v.$red;
      }
      .lg {
        font-size: 1.5em;
      }
      .text-head {
        .text {
          text-align: left;
          font-size: clamp(1.125rem, 0.7083rem + 1.7778vw, 1.375rem);
          font-weight: bold;
          color: v.$dk-gray;
          line-height: 1.7;
        }
      }

      .text-content {
        font-size: 16px;
        color: v.$chacoal;
        text-shadow: 0.5px 0.5px 0.5px #cacaca;
        p {
          text-align: justify;
          margin: 16px 0;
          line-height: 2.0;
        }

        .p-em {
          font-size: 18px;
          font-weight: bold;
          line-height: 1.5;
        }

        .about-list {
          display: flex;
          flex-wrap: wrap;
          gap: 12px;
          .list-item {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.15em;
          }
          .list-item::before {
            content: "";
            width: 0.8em;
            height: 2px;
            border-radius: 100vh;
            background-color: v.$red;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  .sp {
    display: none;
  }
  .sp-600 {
    display: revert;
  }
  @include m.mq(sm) {
    .sp-600 {
      display: none;
    }
  }
  @include m.mq(lg) {
    .sp {
      display: revert;
    }
  }
}
