@use "../default/variables" as v;
.about {
  position: relative;
  padding: 300px 0 160px;
  background-color: #f0f0f0;
  font-family: v.$m-plus-round;
  mask-image: linear-gradient(180deg, #0000 0%, #000 10%);

  .obj {
    position: absolute;
    width: 150px;
    max-width: 150px;
    aspect-ratio: 1/1;
    z-index: -1;
  }
  .container {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 64px;
    max-width: 1160px;
    margin: 0 auto;

    .img.woman {
      position: absolute;
      bottom: 0;
      left: 80%;
      width: 500px;
      aspect-ratio: 1663 / 972;
      display: block;
      z-index: -2;
      filter: blur(1px);
    }
    
    .catch {
      position: relative;
      .about-title {
        position: relative;
        display: flex;
        align-items: center;
        gap: 12px;
        width: max-content;
        font-family: v.$noto-sans;
        font-size: 64px;
        color: v.$dk-gray; 

        &::before,
        &::after {
          content: "";
          width: 0.5em;
          height: 3px;
          border-radius: 100vh;
          background-color: v.$red;
          transform: translateY(50%);
        }
      }

      .about-sub-title {
        font-size: 26px;
        font-weight: bold;
        color: v.$dk-gray;
      }
      .wrapper {
        margin-top: 12px;
        .text {
          font-size: 18px;
          font-weight: bold;
          color: v.$dk-gray;
        }
      }

      .obj.triangle-blue {
        width: 500px;
        max-width: 500px;
        left: 0;
        top: -125px;
        transform: rotate(120deg);
        mask-image: radial-gradient(circle at center, #000 90%, #0000 100%);
      }

      
    }
    .text-wrap{
      position: relative;
      .em {
        font-size: 1.2em;
        color: v.$red;
      }
      .text-head {
        .text {
          font-size: 26px;
          font-weight: bold;
          color: v.$dk-gray;
        }
      }

      .text-content {
        font-size: 18px;
        color: v.$dk-gray;
        p {
          text-align: justify;
          margin: 16px 0;
        }

        .p-em {
          font-size: 22px;
          font-weight: bold;
        }

        .about-list {
          display: flex;
          flex-wrap: wrap;
          gap: 12px;
          .list-item {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 18px;
            font-weight: bold;
            line-height: 2;
            letter-spacing: 0.15em;
          }
          .list-item::before {
            content: "";
            width: 0.8em;
            height: 2px;
            border-radius: 100vh;
            background-color: v.$red;
            transform: rotate(-45deg);
          }
        }
      }
      
      .obj {
        position: absolute;
        width: 150px;
        max-width: 150px;
        aspect-ratio: 1/1;
        z-index: -1;
      }
      
      .obj.triangle-yellow {
        width: 300px;
        max-width: 300px;
        right: -150px;
        bottom: 0%;
        transform: rotate(-120deg);
        mask-image: radial-gradient(circle at center, #000 90%, #0000 100%);
      }
    }
  }

  
}