@use "../default/variables" as v;
.cta {
  padding: 200px 0;
  font-family: v.$m-plus-round;
  background-color: #f0f0f0;
  border-radius: 0 0 80px 80px;;
  .container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 48px;
    border-radius: 20px;
    background-color: v.$white;
    .catch {
      text-align: center;
      
      .cta-title {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 12px;
        width: max-content;
        font-family: v.$noto-sans;
        font-size: 64px;
        color: v.$dk-gray; 

        &::before,
        &::after {
          content: "";
          width: 0.5em;
          height: 3px;
          border-radius: 100vh;
          background-color: #d4d3d3;
          transform: translateY(50%);
        }
      }
      .cta-text {
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        color: v.$dk-gray;
      }
    }
    .form {
      margin-top: 48px;
      .form-group {
        display: flex;
        align-items: flex-start;
        column-gap: 2rem;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 32px;
        .label {
          display: flex;
          justify-content: space-between;
          column-gap: 1rem;
          flex: 0.1 1 10em;
          min-width: 10em;
          label {
            display: flex;
            align-items: center;
            font-size: v.$medium-text;
            font-weight: 500;
          } 
          .required {
            padding: 0.4em;
            border-radius: 3px;
            background-color: rgb(192, 47, 47);
            font-size: v.$small-text;
            color: v.$white;
          }
        }
        input {
          flex: 0.6 1 330px;
          min-width: 330px;
          padding: v.$padding-s v.$padding-m;
          border: none;
          border-radius: 5px;
          outline: none;
          letter-spacing: 0.1em;
          background-color: #DDEEF7;

          &:focus {
            box-shadow: 0 0 0 2px #000;
          }
        }
        textarea {
          flex: 0.6 1 330px;
          min-width: 330px;
          height: 184px;
          padding: v.$padding-s v.$padding-m;
          border: none;
          border-radius: 5px;
          outline: none;
          letter-spacing: 0.1em;
          background-color: #DDEEF7;

          &:focus {
            box-shadow: 0 0 0 2px #000;
          }
        }
      }
      .submit-btn {
        display: block;
        width: 200px;
        margin: v.$margin-l auto 0;
        padding: v.$padding-m v.$padding-mm;
        border: none;
        border-radius: 50px;
        background: linear-gradient(135deg,rgba(255, 212, 212, 1) 0%, rgb(228, 48, 48)40%);
        color: v.$white;
        font-size: v.$h6;
        font-weight: 600;
        letter-spacing: 0.1em;
        
      }
    }
  }
}