@use "../default/variables" as v;
.cta {
  .img {
    width: 100%;
    clip-path: url(#curve);
  }
  padding: v.$padding-xl;
  background: linear-gradient(135deg,rgba(255, 255, 255, 1) 0%, rgba(35, 121, 227, 1) 100%);
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: v.$padding-l;
    border-radius: 20px;
    background-color: v.$white;
    //background: linear-gradient(135deg,rgba(255, 255, 255, 0.5) 0%, rgba(205, 227, 250, 0.2) 100%);
    .catch {
      h2, h3 {
        text-align: center;
      }
      h2 {
        font-size: v.$h2;
        color: v.$sub-color;
      }
      h3 {
        font-size: v.$h3;
        color: v.$catch-sub-color;
      }
    }
    .form {
      margin-top: v.$margin-l;
      .form-group {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: v.$margin-lm;
        .label {
          display: flex;
          justify-content: flex-end;
          column-gap: 1rem;
          flex: 0.2 1 10em;
          min-width: 10em;
          label {
            display: flex;
            align-items: center;
            font-size: v.$medium-text;
            font-weight: 500;
          } 
          .required {
            padding: 0.4em;
            border-radius: 3px;
            background-color: red;
            font-size: v.$small-text;
            color: v.$white;
          }
        }
        input {
          flex: 0.6 1 330px;
          min-width: 330px;
          padding: v.$padding-s v.$padding-m;
          border: none;
          outline: none;
          letter-spacing: 0.1em;
          background-color: #DDEEF7;
        }
        textarea {
          flex: 0.6 1 330px;
          min-width: 330px;
          height: 184px;
          padding: v.$padding-s v.$padding-m;
          border: none;
          outline: none;
          letter-spacing: 0.1em;
          background-color: #DDEEF7;
        }
      }
      .submit-btn {
        display: block;
        width: 200px;
        margin: v.$margin-l auto 0;
        padding: v.$padding-m v.$padding-mm;
        border: none;
        border-radius: 50px;
        background: linear-gradient(135deg,rgba(255, 212, 212, 1) 0%, rgba(255, 0, 0, 1) 40%);
        color: v.$white;
        font-size: v.$h6;
        font-weight: 600;
        letter-spacing: 0.1em;
        
      }
    }
  }
}