@use "../default/variables" as v;
.cta {
  padding: 200px 4%;
  font-family: v.$m-plus-round;
  background-color: #f0f0f0;
  border-radius: 0 0 80px 80px;;
  .container {
    max-width: 768px;
    margin: 0 auto;  
    padding: 48px;
    border-radius: 20px;
    background-color: v.$white;
    .catch {
      text-align: center;
      
      .cta-title {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 12px;
        width: max-content;
        font-family: v.$noto-sans;
        font-size: clamp(3rem, 1.3333rem + 7.1111vw, 4rem);
        color: v.$dk-gray; 

        &::before,
        &::after {
          content: "";
          width: 0.5em;
          height: 3px;
          border-radius: 100vh;
          background-color: #d4d3d3;
          transform: translateY(50%);
        }
      }
      .cta-text {
        text-align: center;
        font-size: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
        font-weight: bold;
        color: v.$dk-gray;
      }
    }
    .form {
      margin: 48px auto 0;
      padding: 0 4%;
      .form-group {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        margin-bottom: 32px;
        .label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 1rem;
          label {
            font-size: 14px;
            font-weight: 500;
          } 
          .required {
            padding: 0.4em;
            border-radius: 3px;
            background-color: rgb(192, 47, 47);
            font-size: 12px;
            color: v.$white;
          }
        }
        input {
          padding: 8px 16px;
          border: none;
          border-radius: 5px;
          outline: none;
          letter-spacing: 0.1em;
          background-color: #DDEEF7;

          &:focus {
            box-shadow: 0 0 0 2px #000;
          }
        }
        textarea {
          height: 184px;
          padding: 8px 16px;
          border: none;
          border-radius: 5px;
          outline: none;
          letter-spacing: 0.1em;
          background-color: #DDEEF7;

          &:focus {
            box-shadow: 0 0 0 2px #000;
          }
        }
      }
      .submit-btn {
        display: block;
        width: 200px;
        margin: 48px auto 0;
        padding: 16px 24px;
        border: none;
        border-radius: 50px;
        background: linear-gradient(135deg,rgba(255, 212, 212, 1) 0%, rgb(228, 48, 48)40%);
        color: v.$white;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.1em;
        
      }
    }
  }
}