@use "../default/variables" as v;
@use "../default/mixin" as m;
.cv {
  position: relative;
  padding: 0 4%;
  font-family: v.$m-plus-round;
  background: url("../images/bg_cv.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  .container {
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    padding: 160px 0 160px;
    z-index: 3;
    .content-wrap {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    
      .text-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #fff;
        text-shadow: 0.5px 0.5px 1px #333;
        .em-text {
          font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
          font-weight: bold;
          span{
            font-size: clamp(1.625rem, 0.4323rem + 5.0891vw, 2.875rem);
          }
        }
        p {
          font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
          color: #fff;
          line-height: 2.4;

          &:last-child {
            font-size: clamp(1.25rem, 0.7729rem + 2.0356vw, 1.75rem);
            font-weight: bold;
          }
        }
        .middle {
          max-width: 600px;
          text-align: justify;
        }
        @include m.mq(sm) {
          line-height: 3;
          text-align: center;
        }
      }
      .btn {
        margin-top: 24px;
        padding: 16px 24px;
        border: 3px solid #fafafa;
        border-radius: 100vh;
        background-color: #9CC4FF;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #fafafa;
        cursor: pointer;
        box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.5);
        transition: all 0.6s;
        @include m.pc-hover {
          transform: translateY(10px);
          box-shadow: none;
        }
      }
      .animal-wrap.panda {
        bottom: 7px;
        left: calc(50% + 115px);
        transform-origin: bottom center;
        transform: translate(-50%, 0) scale(1);
        z-index: -1;
      }
    }
    .svg-tri {
      position: absolute;
      bottom: 25%;
      left: 0%;
      width: 150px;
      transform:  rotate(30deg);
      z-index: -2;
    }
    .svg-tri2 {
      top: 20%;
      right: 0%;
      left: initial;
      transform: rotate(-45deg);
    }
    .svg-tri3 {
      bottom: 10%;
      right: 2%;
      left: initial;
      transform: rotate(135deg);
    }
    .svg-tri4 {
      top: 10%;
      left: 5%;
      transform: rotate(-135deg);
    }
    @include m.mq(l) {
      .svg-tri {
        width: 250px;
      }
    }
    @include m.mq(sm) {
      .svg-tri {
        width: 200px;
        bottom: 5%;
        left: 0%;
      }
      .svg-tri2 {
        top: 0;
        right: 10%;
        left: initial;
      }
      .svg-tri3 {
        bottom: 10%;
        right: 7%;
        left: initial;
      }
      .svg-tri4 {
        top: 10%;
        left: 5%;
      }
    }
  }

}