@use "../default/variables" as v;
@use "../default/mixin" as m;

.error-main {
    height: calc(100vh - 53px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    padding: 114px 4% 0px;
}

.title {
    font-size: 4rem;
    margin-bottom: 10px;
}

.text {
    margin-bottom: 24px;
}

.home-button {
    border: 2px solid v.$header-color;
    border-radius: 50px;
    background-color: v.$header-color;
    display: grid;
    place-items: center;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: v.$white;
}
