@use "../default/variables" as v;
@use "../default/mixin" as m;
.faq {
  padding: clamp(9.375rem, 31.847vw + 1.911rem, 25rem) 4% clamp(9.375rem, 31.847vw + 1.911rem, 25rem);
  position: relative;
  background-color: #d6f1ff;
  font-family: v.$m-plus-round;
  
    .custom-shape-divider-top-1765979172 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
      svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: clamp(3.125rem, 24.968vw - 2.727rem, 15.375rem);
      }
      .shape-fill {
        fill: #fef1fc;
      }
    }
    
    .custom-shape-divider-bottom-1765979762 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: clamp(3.125rem, 24.968vw - 2.727rem, 15.375rem);
      }
      .shape-fill {
        fill: #f0f0f0;
      }
    }

  .container {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    
    .catch {
      .sp {
          display: revert;
        }
        @include m.mq(sm) {
          .sp {
            display: none;
          }
        }
      .faq-title {
        position: relative;
        width: max-content;
        margin: 0 auto;
        font-family: v.$noto-sans;
        font-size: clamp(3rem, 1.3333rem + 7.1111vw, 4rem);
        color: v.$dk-gray;
        text-align: center;
        &::before,
        &::after {
          position: absolute;
          top: 50%;
          content: "";
          width: 0.5em;
          height: 3px;
          border-radius: 100vh;
          background-color: v.$orange;
          transform: translateY(50%);
        }
        &::before {
          left: -0.7em;
        }
        &::after {
          right: -0.7em;
        }
        
      }
      .faq-text {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        width: max-content;
        margin: 0 auto 0;
        font-size: clamp(1.125rem, 0.7672rem + 1.5267vw, 1.5rem);
        font-weight: bold;
        color: v.$dk-gray;
        text-align: center;
        --transform-scale: scale(0) rotate(0deg);
        &::before{
          position: absolute;
          top: 10px;
          left: -50px;
          display: inline-block;
          width: 48px;
          aspect-ratio: 64/63;
          content: "";
          background: url("../images/qanda.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          transform: var(--transform-scale);
          transform-origin: bottom;
          will-change: transform;
          @include m.mq(sm) {
            position: relative;
            top: revert;
            left: revert;
          }
        }
      }
    }
    .accordion {
      margin: 60px auto 0;
      .accordion-list {
        .accordion-item {
          .accordion-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 16px 8px;
            border: none;
            border-bottom: 2px solid #000;
            background-color: transparent;
            .accordion-title {
              text-align: left;
              font-size: 16px;
              font-weight: bold;
              color: #555;
              @include m.mq(md) {
                font-size: 18px;
              }
            }
            .close-icon {
              color: #000;
              transform: rotate(45deg);
            }
          }

          .inner-list {
            height: 0;
            max-height: auto;
            overflow: hidden;
            transition: all 0.5s;
            background: #fafafa;
            border-radius: 0 0 16px 16px;
            .inner-list-item {
              line-height: 2;
              padding: 24px 16px;
              font-weight: 500;
              color: #333;
              opacity: 0;
              transform: translate(15px, 10px);
            }

            .inner-list-item:not(:last-child) {
              border-bottom: 2px solid #fff;
            }
          }
        }
      }
    }
  }
}