@use "../default/variables" as v;
@use "../default/mixin" as m;
.faq {
  padding: 400px 4%;
  position: relative;
  background-color: #d6f1ff;
    .custom-shape-divider-top-1765979172 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
      svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 166px;
      }
      .shape-fill {
        fill: #fef1fc;
      }
    }
    
    .custom-shape-divider-bottom-1765979762 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 166px;
      }
      .shape-fill {
        fill: #f0f0f0;
      }
    }

  .container {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    .catch {
      .sp {
          display: revert;
        }
        @include m.mq(sm) {
          .sp {
            display: none;
          }
        }
      .faq-title {
        position: relative;
        width: max-content;
        margin: 0 auto;
        font-family: v.$noto-sans;
        font-size: clamp(3rem, 1.3333rem + 7.1111vw, 4rem);
        color: v.$dk-gray;
        text-align: center;

        &::before,
        &::after {
          position: absolute;
          top: 50%;
          content: "";
          width: 0.5em;
          height: 3px;
          border-radius: 100vh;
          background-color: v.$orange;
          transform: translateY(50%);
        }
        &::before {
          left: -0.7em;
        }
        &::after {
          right: -0.7em;
        }
        
      }
      .faq-text {
        position: relative;
        width: max-content;
        margin: 16px auto 0;
        font-size: clamp(1.125rem, 0.7672rem + 1.5267vw, 1.5rem);
        font-weight: bold;
        color: v.$dk-gray;
        text-align: center;

        &::before,
        &::after {
          position: absolute;
          top: 50%;
          content: "";
          width: 30px;
          height: 3px;
          border-radius: 100vh;
          background-color: v.$orange;
          transform: rotate(60deg )translateY(50%) ;
        }
        &::before {
          left: -38px;
          transform: rotate(60deg )translateY(50%) ;
        }
        &::after {
          right: -38px;
          transform: rotate(-60deg )translateY(50%) ;
        }

      }
    }
    .accordion {
      margin: 60px auto 0;
      .accordion-list {
        .accordion-item {
          .accordion-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 16px 8px;
            border: none;
            border-bottom: 2px solid #000;
            background-color: transparent;
            .accordion-title {
              font-size: 18px;
              font-weight: bold;
              color: #555;  
            }
            .close-icon {
              color: #000;
              transform: rotate(45deg);
            }
          }

          .inner-list {
            height: 0;
            max-height: auto;
            overflow: hidden;
            transition: all 0.5s;
            background: #fafafa;
            border-radius: 0 0 16px 16px;
            .inner-list-item {
              line-height: 2;
              padding: 24px 16px;
              font-weight: 500;
              color: #333;
              opacity: 0;
              transform: translate(15px, 10px);
            }

            .inner-list-item:not(:last-child) {
              border-bottom: 2px solid #fff;
            }
          }
        }
      }
    }
  }
}