@use "../default/variables" as v;
.feature {
  position: relative;
  margin-top: 300px;
  .feature-svg-1 {
    position: absolute;
    top: -40%;
    left: 0%;
    z-index: -1;
    width: 600px;
  }
  .container {
    padding: v.$padding-xl v.$padding-l;
    .catch {
      h2, h3 {
        text-align: center;
      }
      h2 {
        font-size: v.$h2;
        color: v.$sub-color;
      }
      h3 {
        font-size: v.$h3;
        color: v.$catch-sub-color;
      }
    }
    .cards-container {
      display: flex;
      flex-direction: row;
      margin-top: v.$margin-xl;
      .card {
        margin: 0 v.$margin-lm;
        padding: v.$padding-lm;
        border-radius: v.$min-radius;
        box-shadow: v.$box-shadow;
        background-color: v.$white;
        .icon {
          width: 50px;
          height: 50px;
          margin-bottom: v.$margin-m;
          border-radius: 50%;
        }
        &:nth-of-type(1) .icon {
          background: v.$gradation-green;
        }
        &:nth-of-type(2) .icon {
          background: v.$gradation-blue;
        }
        &:nth-child(3) .icon {
          background: v.$gradation-orange;
        }
        h4 {
          margin-bottom: v.$margin-m;
        }
        &:nth-of-type(1) h4 {
          color: v.$catch-sub-color;
        }
        &:nth-of-type(2) h4 {
          color: v.$heading-color;
        }
        &:nth-of-type(3) h4 {
          color: v.$accent-color;
        }
        p {
          color: v.$gray;
        }
      }
    }
  }
}