@use "../default/variables" as v;
.feature {
  position: relative;
  padding: 160px 0;
  // background: repeating-linear-gradient(
  //   -45deg,
  //   #fffef2,
  //   #fffef2 8px,
  //   #fffaf2 8px,
  //   #fffaf2 16px
  // );
  // background-position: center;
  // background-size: cover;
  font-family: v.$m-plus-round;
  z-index: 1;
  .feature-svg-1 {
    position: absolute;
    top: -40%;
    left: 0%;
    z-index: -1;
    width: 600px;
  }
  .obj.line-yellow {
    position: absolute;
    top: 0;
    right: 0;
  }
  .container {
    max-width: 1160px;
    margin: 0 auto;
    
    .catch {
      text-align: center;
      .feature-title {
        font-size: 40px;
        font-weight: bold;
      }
      .feature-text {
        font-size: 32px;
        font-weight: bold;
      }
      .feature-desc {
        font-size: 20px;
      }
    }
    .cards-container {
      counter-reset: card;
      display: grid;
      gap: 84px;
      margin-top: 84px;
      .card {
        counter-increment: card;
        position: relative;
        display: flex;
        gap: 32px;
        border-radius: v.$min-radius;
        // box-shadow: v.$box-shadow;
        // background-color: #fefefe;
        .img-wrap {
          flex: 1 1 40%;
          img {
            border-radius: v.$min-radius;
          }
        }
        .content {
          display: grid;
          place-content: center;
          flex: 1 1 60%;
          .title {
            font-size: 32px;
            font-weight: bold;
            color: v.$dk-gray;
          }
          .text {
            margin-top: 12px;
            font-size: 18px;
            color: v.$chacoal;
          }
          .icon-wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin-top: 16px;
            .icon {
              display: inline-grid;
              place-items: center;
              flex: 1;
              padding: 12px 12px;
              border: 3px solid v.$catch-sub-color;
              border-radius: 100vh;
              background-color: #fff;
              text-align: center;
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 0.15em;
              color: v.$catch-sub-color;
            }
          }
        }

        &:nth-child(2) {
          flex-direction: row-reverse;
          .icon-wrap {
            .icon {
              padding: 6px 12px;
              border-color: v.$catch-color;
              color: v.$catch-color;
            }
          }
        }
        &:nth-child(3) {
          .icon-wrap {
            .icon {
              border-color: v.$red;
              color: v.$red;
            }
          }
        }
      }
      .card::after {
        content: "0" counter(card);
        font-size: 256px;
        font-weight: bold;
        font-family: v.$noto-sans;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.4;
        color: v.$catch-sub-color;
        z-index: -1;
      }
      
      .card:nth-child(2)::after {
        left: 0;
        color: v.$catch-color;
      }
      .card:nth-child(3)::after {
        color: v.$red;
      }
    }

    .feature-second {

      margin-top: 160px;

      .content-wrap {
        display: grid;
        grid-template-columns: 1fr 1.2fr 1fr;
        grid-template-areas: 
        "lt ct rt"
        "lb ct rb"
        ;
        row-gap: 16px;
        margin-top: 64px;
        .item {
          padding-inline: 12px;
          .title {
            padding: 16px 16px;
            border-radius: 100vh;
            background-color: v.$red;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            letter-spacing: 0.2em;
          }
          .list {
            margin-top: 24px;
            .list-item {
              font-size: 16px;
              font-weight: bold;
              color: v.$chacoal;
              line-height: 1.8;
            }
            .list-item:not(:first-child) {
              margin-top: 12px;
            }
          }

          &:nth-child(2) {
            .title {
              background-color: v.$catch-color;
            }
          }
          &:nth-child(4) {
            .title {
              background-color: v.$catch-sub-color;
            }
          }
          &:nth-child(5) {
            .title {
              background-color: v.$purple;
            }
          }
        }
        .item.left-top {
          grid-area: lt;
        }
        .item.left-bottom {
          grid-area: lb;
          margin-top: 16px;
        }
        .item.center {
          grid-area: ct;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 45%;
            aspect-ratio: 418 / 616;
          }
        }
        .item.right-top {
          grid-area: rt;
        }
        .item.right-bottom {
          grid-area: rb;
          margin-top: 16px;
        }

      }
    }
    


  }
}