@use "../default/variables" as v;
@use "../default/mixin" as m;
.feature {
  position: relative;
  padding: 160px 4%;
  font-family: v.$m-plus-round;
  background-color: #f0f0f0;
  z-index: 1;
  .line-svg {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100dvw;
    height: auto;
    min-height: 1200px;
    z-index: 0;
    &.pc {
      display: none;
      @include m.mq(lg) {
        display: revert;
      }
    }
    &.sp {
      width: 120dvw;
      min-height: 1500px;
      display: revert;
      @include m.mq(lg) {
        display: none;
      }
    }
  }
  .feature-svg-1 {
    position: absolute;
    top: -40%;
    left: 0%;
    z-index: -1;
    width: 600px;
  }
  .container {
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    z-index: 2;
    .obj {
      position: absolute;
    }
    .obj.line-yellow {
      top: 0;
      right: 0;
      transform: translate(20%, -80%);
      @include m.mq(xl) {
        top: 0;
        right: 0;
        transform: translate(50%, -100%);
      }
    }
    .catch {
      text-align: center;
      .feature-title {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 3px;
        width: max-content;
        font-family: v.$noto-sans;
        font-size: clamp(3rem, 1.3333rem + 7.1111vw, 4rem);
        color: v.$dk-gray; 
        --pseudo-opacity: 0;
        &::before,
        &::after {
          content: "";
          width: 0.5em;
          height: 3px;
          border-radius: 100vh;
          background-color: v.$blue;
          transform: translateY(50%);
          opacity: var(--pseudo-opacity);
        }
        &::before {
          margin-right: 5px;
        }
        &::after {
          margin-left: 5px;
        }
      }
      .feature-sub-title {
        text-align: center;
        font-size: clamp(1.125rem, 0.5rem + 2.6667vw, 1.5rem);
        font-weight: bold;
        color: v.$dk-gray;
      }
    }
    .cards-container {
      position: relative;
      margin-top: 64px;
      .cards-head {
        text-align: center;
        font-size: clamp(1.125rem, 0.5876rem + 2.293vw, 2.25rem);
        font-weight: bold;
        color: v.$dk-gray;
        letter-spacing: 0.15em;
      }
      .cards {
        counter-reset: card;
        display: grid;
        gap: 84px;
        margin-top: 84px;
        .card {
          counter-increment: card;
          position: relative;
          display: revert;
          border-radius: 10px;
          @include m.mq(lg) {
            display: flex;
            gap: 32px;
            align-items: center;
          }
          .img-wrap {
            width: 90%;
            min-width: 310px;
            margin: 0 auto;
            @include m.mq(sm) {
              width: 70%;
              margin: 0 auto 0 0;
            }
            @include m.mq(lg) {
              flex: 1 1 40%;
            }
            img {
              position: relative; 
              z-index: -2;
              border-radius: 10px;
              @include m.mq(lg) {
                z-index: revert;
              }
            }
          }
          .content {
            display: grid;
            place-content: center;
            flex: 1 1 60%;
            .title {
              margin-top: 24px;
              font-size: clamp(1.125rem, 0.6186rem + 2.1605vw, 2rem);
              font-weight: bold;
              color: v.$dk-gray;
              @include m.mq(lg) { 
                margin-top: 0;
              }
              span {
                font-size: clamp(0.875rem, 0.5861rem + 1.2327vw, 1.375rem);
              }
            }
            .text {
              margin-top: 12px;
              font-size: clamp(1rem, 0.9277rem + 0.3086vw, 1.125rem);
              color: v.$chacoal;
            }
            .icon-wrap {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              gap: 10px;
              margin-top: 16px;
              .icon {
                display: grid;
                place-items: center;
                flex: 0 0 max(150px);
                padding: 12px 8px;
                border: 3px solid v.$green;
                border-radius: 100vh;
                background-color: #fff;
                text-align: center;
                font-size: clamp(0.875rem, 0.8027rem + 0.3086vw, 1rem);
                font-weight: bold;
                letter-spacing: 0.1em;
                color: v.$green;
                @include m.mq(sm) {
                  flex: 0 0 max(175px);
                }
              }
            }
          }
          &:nth-child(2) {
            @include m.mq(lg) {
              flex-direction: row-reverse;
            }
            .icon-wrap {
              .icon {
                border-color: v.$blue;
                color: v.$blue;
              }
            }
          }
          &:nth-child(3) {
            .icon-wrap {
              .icon {
                border-color: v.$red;
                color: v.$red;
              }
            }
          }
        }
        .card::after {
          content: "0" counter(card);
          line-height: 1;
          font-size: 256px;
          font-weight: bold;
          font-family: v.$noto-sans;
          position: absolute;
          bottom: 0%;
          right: 0;
          opacity: 0.4;
          color: v.$green;
          z-index: -1;
          @include m.mq(sm) {
            top: 0;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
        .card:nth-child(2)::after {
          right: 0;
          color: v.$blue;
          @include m.mq(lg) {
            right: 0;
            transform: translate(-150%, -50%);
          }
        }
        .card:nth-child(3)::after {
          color: v.$red;
        }
      }
    }
    .feature-bottom {
      position: relative;
      margin-top: 160px;
      .obj.line-blue {
        z-index: -1;
        top: -10%;
        left: -10%;
      }
      .bottom-head {
        .text {
          max-width: 800px;
          margin:  0 auto;
          font-size: clamp(1.25rem, 0.5344rem + 3.0534vw, 2rem);
          font-weight: bold;
          text-align: center;
          color: v.$dk-gray;
          letter-spacing: 0.15em;
        }
        .desc {
          max-width: 600px;
          margin: 16px auto 0;
          font-size: clamp(0.9375rem, 0.6393rem + 1.2723vw, 1.25rem);
          color: v.$dk-gray
        }
      }
      .content-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "ct ct"
        "lt lt"
        "lb lb"
        "rt rt"
        "rb rb"
        ;
        row-gap: 16px;
        margin-top: 64px;
        padding: 46px 0;
        border-radius: 36px;
        background-color: v.$ivory;
        box-shadow: 0px 0px 150px 5px rgba(255, 255, 255, 0.8) inset,
        0px 0px 15px 7px rgba(255, 255, 255, 0.8)
        ;
        border-radius: 90px;
        
        @include m.mq(md) {
          grid-template-columns: 1fr 1fr;
          grid-template-areas: 
          "ct ct"
          "lt rt"
          "lb rb"
          ;
          padding: 46px;
        }
        @include m.mq(l) {
          grid-template-columns: 1fr 1.2fr 1fr;
          grid-template-areas: 
          "lt ct rt"
          "lb ct rb"
          ;
        }
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-inline: 12px;
          @include m.mq(md) {
            display: block;
          }
          .title {
            width: 300px;
            margin: 0 auto;
            padding: 16px 16px;
            border-radius: 100vh;
            background-color: #ff6b6b99;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: v.$white;
            letter-spacing: 0.2em;
          }
          .list {
            width: min(420px, 100%);
            display: grid;
            justify-items: start;
            margin-top: 24px;
            margin-inline: auto;
            max-width: 100%;
            @include m.mq(md) {
              margin-left: revert;
            }
            .list-item {
              display: grid;
              grid-template-columns: 22px 1fr;
              padding-inline-start: 8px;
              font-size: 16px;
              font-weight: bold;
              color: v.$chacoal;
              line-height: 1.8;
              min-width: 0;
              &::before {
                content: "";
                width: 20px;
                height: 20px;
                justify-self: center;
                align-self: start;
                margin-top: 4px;
                background: url("../images/chevron_forward.svg");
                background-size: contain;
              }
            }
            .list-item:not(:first-child) {
              margin-top: 12px;
            }
          }

          &:nth-child(2) {
            .title {
              background-color: #2379E399;
            }
          }
          &:nth-child(4) {
            .title {
              background-color: #55DD9699;
            }
          }
          &:nth-child(5) {
            .title {
              background-color: #ECAEFF99;
            }
          }
        }
        .item.left-top {
          grid-area: lt;
        }
        .item.left-bottom {
          grid-area: lb;
          margin-top: 16px;
        }
        .item.center {
          grid-area: ct;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          img {
            width: 25%;
            min-width: 130px;
            aspect-ratio: 418 / 616;
            @include m.mq(l) {
              width: 45%;
              aspect-ratio: 418 / 616;
            }
          }
        }
        .item.right-top {
          grid-area: rt;
        }
        .item.right-bottom {
          grid-area: rb;
          margin-top: 16px;
        }
      }
    }
  }
  @media (min-width: 900px) {
    .sp-900{
      display: none;
    }
  }
  @include m.mq(sm) {
    .sp-600{
      display: none;
    }
  }
  @include m.mq(md) {
    .sp-md{
      display: none;
    }
  }
}