@use "../default/variables" as v;
.firstview {
  background-color: #f0f0f0;
  .container {
    position: relative;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 0 0 4%;
    .decoration-text {
      position: absolute;
      bottom: 2%;
      left: 0%;
      //transform: translateX(-50%);
      //transform-origin: left;
      font-size: 240px;
      font-family: v.$m-plus-round;
      font-weight: bold;
      line-height: 1.0;
      letter-spacing: 0;
      color: v.$yellow;
      text-shadow: 5px 5px 3px #aaa;
      z-index: 1;
      opacity: 0.5;
    }
    .splide__track {
      border-radius: 150px 100px 100px 400px;
      .slider__img {
        object-fit: cover;
      }
      
      .inner {
        position: absolute;
        
        .main-title {
          font-size: 48px;
          font-family: v.$m-plus-round;
          font-weight: bold;
          color: v.$heading-color;
        }
        .text {
          font-size: 32px;
          font-family: v.$noto-sans;
          font-weight: bold;
        }
        &.first-slide {
          top: 15px;
          right: 15px;
          .main-title {
            color: #feaa2d;
            text-shadow: 1px 1px 2px #fff;
          }
          .text {
            color: v.$red;
            text-shadow: 1px 1px 2px #fff;
          }
        }
        &.second-slide {

        }
      }
    }
  }
}



