@use "../default/variables" as v;
@use "../default/mixin" as m;

.firstview {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 114px 3% 0px;
    background-color: #f0f0f0;
    font-family: v.$m-plus-round;
    @include m.mq(md) {
        display: revert;
        min-height: 600px;
        padding: 114px 3% 0px;
    }
    .text-g {
        position: relative;
        z-index: 99;
        margin-top: 22px;
        @include m.mq(md) {
            position: absolute;
            top: 80%;
            left: 8%;
            transform: translate(0,-50%);
            margin-top: 0;
        }
        @include m.mq(l) {
            position: absolute;
            top: 70%;
            left: 14%;
            transform: translate(0,-50%);
        }

        .sp-md {
            display: none;
            @include m.mq(md) {
                display: revert;
            }
            @include m.mq(l) {
                display: none;
            }
        }

        .main {
            .main-title {
                font-size: clamp(2rem, 1.1627rem + 3.8278vw, 3rem);
                font-weight: bold;
                color: #feaa2d;
                text-shadow: 1px 1px 2px #fff;
                
                @include m.mq(xxl) {
                  font-size: 64px;
                }
            }
            .text {
                font-size: clamp(1.125rem, 0.497rem + 2.8708vw, 1.875rem);
                font-weight: bold;
                color: v.$red;
                text-shadow: 1px 1px 2px #fff;
                
                @include m.mq(xxl) {
                  font-size: 48px;
                }
            }
        }
    }
    .splider {
        max-width: 900px;
        @include m.mq(md) {
            margin: 0 auto;
            min-height: 600px;
        }
        @media (min-width:1160px) {
            width: 60%;
            margin: 0 15% 0 auto;
        }
        
        .splide__track {
            width: 100%;
            min-height: 100%;
            .splide__list {
                width: 100%;
                min-height: 100%;
                .splide__slide {
                    position: relative;
                    width: 100%;
                    min-height: 100%;
                    svg {
                        width: 100%;
                        height: 100%;
                        display: block;
                        image {
                            width: 100%;
                            min-height: 600px;
                        }
                    }
                    // svg:first-child {
                    //     position: relative;
                    //     z-index: 1;
                    // }
                    // .bg-svg {
                    //     position: absolute;
                    //     top: 0;
                    //     z-index: 0;
                    //     fill: v.$red;
                    // }
                }
            }
        }
        .splide__pagination.custom-pagination {
            bottom: -1.5em;
            gap: 12px;
            .splide__pagination__page.custom-pagination-page {
            width: 14px;
            height: 14px;
            border: 2px solid v.$white;
            background-color: v.$red;
            }
        }
    }
}