@use "../default/variables" as v;
@use "../default/mixin" as m;
.firstview {
  background-color: #f0f0f0;
  .container {
    position: relative;
    .decoration-text {
      position: absolute;
      bottom: 2%;
      left: 0%;
      font-size: 240px;
      font-family: v.$m-plus-round;
      font-weight: bold;
      line-height: 1.0;
      letter-spacing: 0;
      color: v.$yellow;
      text-shadow: 5px 5px 3px #aaa;
      z-index: 1;
      opacity: 0.5;
    }
    .text-box {
      position: absolute;
    }
    .splide {
      //min-width: 985px;
      margin-left: 0%;
      @include m.mq(lg) {
        // max-width: 1500px;
        // margin-left: auto;
      }
      .splide__track {
        @media (min-width: 1500px) {
          overflow: visible;
        }
        .splide__list {
          .splide__slide {
            .slider__img {
              object-fit: cover;
              margin-left: auto;
            }
            .inner {
              position: absolute;
              top: 50%;
              left: 4.2%;
              // @media (min-width: 1500px) {
              //   left: clamp(-28.125rem, -102.4vw + 99.875rem, 3.875rem);
              // }
              .main-title {
                font-size: 48px;
                font-family: v.$m-plus-round;
                font-weight: bold;
                color: v.$heading-color;
              }
              .text {
                font-size: 32px;
                font-family: v.$noto-sans;
                font-weight: bold;
              }
              &.first-slide {
                
                .main-title {
                  color: #feaa2d;
                  text-shadow: 1px 1px 2px #fff;
                }
                .text {
                  color: v.$red;
                  text-shadow: 1px 1px 2px #fff;
                }
              }
              &.second-slide {
                
                .main-title {
                  color: #feaa2d;
                  text-shadow: 1px 1px 2px #fff;
                }
                .text {
                  color: v.$red;
                  text-shadow: 1px 1px 2px #fff;
                }
              }
              &.third-slide {
                
                .main-title {
                  color: #feaa2d;
                  text-shadow: 1px 1px 2px #fff;
                }
                .text {
                  color: v.$red;
                  text-shadow: 1px 1px 2px #fff;
                }
              }
            }
          }
        }
      }

      .splide__arrows.custom-arrows {
        .splide__arrow--next.custom-next {
          right: revert;
          left: calc(100vw - 42px);
          @media (min-width: 1500px) {
            left: revert;
            right: 1em;
          }
        }
      }
    }
  }
}



