@use "../default/variables" as v;
@use "../default/mixin" as m;
.firstview {
  background-color: #f0f0f0;
  .container {
    position: relative;
    .decoration-text {
      position: absolute;
      bottom: 2%;
      left: 0%;
      font-size: 240px;
      font-family: v.$m-plus-round;
      font-weight: bold;
      line-height: 1.0;
      letter-spacing: 0;
      color: v.$yellow;
      text-shadow: 5px 5px 3px #aaa;
      z-index: 1;
      opacity: 0.5;
    }
    .text-box {
      position: absolute;
    }
    .splide {
      margin-left: 4%;
      @include m.mq(xl) {
        
        margin-left: 10%;
      }
      .splide__track {
        border-radius: 20vh 0 0 20vh;
        overflow: visible;
        @include m.mq(sm) {
          border-radius: 100vh 0 0 100vh;
        }
        @media (min-width: 1500px) {
          
        }
        .splide__list {
          .splide__slide {
            background-position: 11% top !important;
            border-radius: 20vh 0 0 20vh;
            @include m.mq(sm) {
              background-position: left top !important;
            }
            @include m.mq(sm) {
              border-radius: 100vh 0 0 100vh;
            }
            
            &.splide__slide:nth-child(2) {
              background-position: 25% bottom !important;
              @include m.mq(sm) {
                background-position: left bottom !important;
              }
            }
            &.splide__slide:nth-child(3) {
              background-position: 80% top !important;
              @include m.mq(sm) {
                background-position: right top !important;
              }
            }
            
            .inner {
              position: absolute;
              bottom: 0%;
              left: 4.2%;
              
              @media (min-width: 1500px) {
                
              }
              .main-title {
                font-size: 42px;
                font-family: v.$m-plus-round;
                font-weight: bold;
                @include m.mq(sm) {
                  font-size: 48px;
                }
                @include m.mq(xl) {
                  font-size: 64px;
                }
                .sp-xs {
                  display: revert;
                  @include m.mq(sm) {
                    display: none;
                  }
                }
              }
              .text {
                font-size: 26px;
                font-family: v.$noto-sans;
                font-weight: bold;
                @include m.mq(sm) {
                  font-size: 30px;
                }
                @include m.mq(xl) {
                  font-size: 48px;
                }
              }
              &.first-slide {
                
                .main-title {
                  color: #feaa2d;
                  text-shadow: 1px 1px 2px #fff;
                }
                .text {
                  color: v.$red;
                  text-shadow: 1px 1px 2px #fff;

                }
              }
              &.second-slide {
                
                .text {
                  color: v.$red;
                  text-shadow: 1px 1px 2px #fff;
                  
                }
              }
              &.third-slide {
                
                .text {
                  color: v.$red;
                  text-shadow: 1px 1px 2px #fff;
                  
                }
              }
            }
          }
        }
      }
    }
  }
}



