@use "../default/variables" as v;
.firstview {
  background-color: #f0f0f0;
  .container {
    position: relative;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 4%;
    .decoration-text {
      position: absolute;
      bottom: 0%;
      right: 4%;
      //transform: rotate(-10deg);
      //transform-origin: left;
      font-size: 240px;
      font-family: v.$m-plus-round;
      font-weight: bold;
      line-height: 1.0;
      letter-spacing: 0;
      color: v.$white;
      z-index: 1;
      opacity: 0.5;
      
    }

    .slider__img {
      object-fit: cover;
    }
    
    .inner {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      .main-title {
        font-size: 48px;
        font-family: v.$m-plus-round;
        font-weight: bold;
        color: v.$heading-color;
      }
      .text {
        font-size: v.$h3;
        font-family: v.$noto-sans;
        font-weight: bold;
        color: v.$red;
      }
      
    }
    
  }
  // .cta-container {
  //   display: flex;
  //   justify-content: flex-start;
  //   gap: 2em;
  //   padding: 2em 0;
  //   a {
  //     min-width: 200px;
  //     padding: 14px 24px;
  //     border-radius: 100vh;
  //     background: linear-gradient(139deg,rgba(235, 219, 255, 1) 0%, rgba(102, 186, 255, 1) 28%, rgba(0, 115, 255, 1) 100%);
  //     font-family: v.$noto-sans;
  //     font-weight: 600;
  //     font-size: 18px;
  //     color: v.$white;
  //     text-align: center;
  //     letter-spacing: 0.15em;
  //     box-shadow: 0px 5px 10px 2px rgba(35,121,227,0.08);
  //     text-shadow: 1px 1px 0px #1B19CE;
  //   }
  // }
}



