@use "../default/variables" as v;
@use "../default/mixin" as m;
.header {
  position: absolute;
  background-color: transparent;
  width: 100%;
  z-index: 100;
  // overflow: hidden;
  .primary-btn {
    border: 2px solid v.$logo-color;
    border-radius: 50px;
    background-color: v.$logo-color;
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 16px 24px;
      font-family: v.$noto-sans;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.1em;
      color: v.$white;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 2000px;
    height: 114px;
    padding: 0 4%;
    margin: 0 auto;
    
    .logo {
      position:relative;
      display: grid;
      place-items: center;
      span {
        letter-spacing: 0.2em;
        font-weight: bold;
      }
      span:first-child {
        font-size: clamp(1rem, 0.9403rem + 0.2548vw, 1.125rem);
        font-family: v.$noto-sans;
        color: v.$logo-sub-color;
      }
      span + span {
        font-size: clamp(1rem, -0.3636rem + 5.8182vw, 2rem);
        font-family: v.$m-plus-round;
        color: v.$logo-color;
      }
    }
    .pc-sns {
      display: none;
      .sns-item {
        a {
          display: block;
        }
      }
    }

    .sp-primary-btn {
      border: 2px solid v.$logo-color;
      border-radius: 50px;
      background-color: v.$logo-color;
      a {
        display: block;
        // width: 100%;
        // height: 100%;
        padding: 12px 14px;
        font-family: v.$noto-sans;
        font-size: clamp(0.875rem, 0.7556rem + 0.5096vw, 1.125rem);
        font-weight: bold;
        color: v.$white;
      }
    }

    @include m.mq(lg) {
      .pc-sns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 24px;
        align-items: center;
      }
      .sp-primary-btn {
        display: none;
      }
    }
    @include m.mq(sm) {
      .sp-primary-btn {
        a {
          padding: 16px 24px;
        }
      }
    }
  }

    .hamburger-btn {
      position: fixed;
      top: 120px;
      right: 16px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 140;

      & span {
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        height: 3px;
        border-radius: 3px;
        background-color: v.$logo-color;
        transition: all 0.6s;

        &:nth-of-type(1) {
          top: 4px;
        }
        &:nth-of-type(2) {
          top: 15px;
        }
        &:nth-of-type(3) {
          top: 26px;
        }
      }

      .btn-area {
        width: 100%;
        height: 100%;
        z-index: 140;
        transition: all 0.6s;
        &.open {
          transform: rotate(360deg);	
        }
      }
    }	
    
    .hamburger-btn.open span {
      z-index: 100;
    }
    .hamburger-btn.open span:nth-of-type(1){
      top: 14px;
      transform-origin: center;
      transform: rotate(45deg);	
    }
    .hamburger-btn.open span:nth-of-type(2){
      opacity: 0;
    }
    .hamburger-btn.open span:nth-of-type(3){
      top: 14px;
      transform-origin: center;
      transform: rotate(-45deg);	
    }

    .mask {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 114px;
      display: none;
      background-color: #fff;
      transition: all 0.6s;

      .sp-sns {
        display: grid;
        grid-template-columns: repeat(5, 40px) auto;
        justify-items: center;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
      }
    }
    .mask.open {
      display: revert;
    }

    @include m.mq(lg) {
      .hamburger-btn {
        display: none;
      }
      .mask {
        display: none;
      }
    }
}