@use "../default/variables" as v;
@use "../default/mixin" as m;
.header {
  position: absolute;
  background-color: transparent;
  width: 100%;
  z-index: 100;
  .primary-btn {
    border: 2px solid v.$header-color;
    border-radius: 50px;
    background-color: v.$header-color;
    display: grid;
    place-items: center;
    padding: 16px 24px;
    font-family: v.$noto-sans;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: v.$white;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 2000px;
    height: 114px;
    padding: 0 4%;
    margin: 0 auto;
    
    .logo {
      position:relative;
      display: grid;
      place-items: center;
      span {
        letter-spacing: 0.2em;
        font-weight: bold;
      }
      span:first-child {
        font-size: clamp(1rem, 0.9403rem + 0.2548vw, 1.125rem);
        font-family: v.$noto-sans;
        color: v.$logo-sub-color;
      }
      span + span {
        font-size: clamp(1.125rem, 5vw + 0.125rem, 2rem);
        font-family: v.$m-plus-round;
        color: v.$header-color;
      }
    }
    .inner {
      display: flex;
      align-items: center;
      gap: 24px;
      .pc-nav {
      .pc-sns {
        display: none;
        @include m.mq(lg) {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          column-gap: 24px;
          align-items: center;
        }
        .sns-item {
          a {
            display: block;
          }
        }
      }
    }
    .primary-btn {
      display: none;
      @include m.mq(lg) {
        display: revert;
      }
    }
    }
    
  }

  .hamburger-btn {
    position: fixed;
    top: 36px;
    right: 4%;
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 50%;
    border: none;
    background-color: v.$header-color;
    cursor: pointer;
    z-index: 999;
    
    @include m.mq(sm) {
      right: 36px;
    }
    @include m.mq(lg) {
      display: none;
    }
    & span {
      
      display: block;
      width: calc(100% - 4px);
      height: 3px;
      border-radius: 3px;
      background-color: v.$ivory;
      transition: all 0.6s;

      &:nth-of-type(1) {
        top: 4px;
      }
      &:nth-of-type(2) {
        top: 15px;
      }
      &:nth-of-type(3) {
        top: 26px;
      }
    }

    .btn-area {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
      z-index: 140;
      transition: all 0.6s;
      &.open {
        transform: rotate(360deg);	
      }
    }
  }	
  
  .hamburger-btn.open span {
    z-index: 100;
  }
  .hamburger-btn.open span:nth-of-type(1){
    top: 14px;
    transform-origin: center;
    transform: translateY(10px) rotate(45deg);	
  }
  .hamburger-btn.open span:nth-of-type(2){
    opacity: 0;
  }
  .hamburger-btn.open span:nth-of-type(3){
    top: 14px;
    transform-origin: center;
    transform: translateY(-11px) rotate(-45deg);	
  }

  .mask {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 114px;
    padding: 0 4% 32px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 600ms ease, visibility 600ms ease;
    @include m.mq(lg) {
      display: none;
    }

    .logo {
      position:relative;
      display: grid;
      place-content: center;
      justify-items: center;
      width: max-content;
      height: 114px;
      z-index: 999;
      span {
        letter-spacing: 0.2em;
        font-weight: bold;
      }
      span:first-child {
        font-size: clamp(1rem, 0.9403rem + 0.2548vw, 1.125rem);
        font-family: v.$noto-sans;
        color: v.$logo-sub-color;
      }
      span + span {
        font-size: clamp(1.125rem, 5vw + 0.125rem, 2rem);
        font-family: v.$m-plus-round;
        color: v.$header-color;
      }
    }

    
    .wrap {
      display: block;
      
      @include m.mq(md) {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
      }
      .sp-nav {
        display: grid;
        place-items: center;
        gap: 16px;
        @include m.mq(md) {
          place-items: flex-start;
        }
        .text {
          font-size: 16px;
          .sp-600 {
            display: revert;
            @include m.mq(sm) {
              display: none;
            }
          }
        }
        .sp-sns {
          display: grid;
          grid-template-columns: repeat(5, 40px);
          gap: clamp(1rem, 7.143vw - 0.429rem, 2.25rem);
        }
      }
      .primary-btn {
        display: block;
        width: 70%;
        max-width: 350px;
        margin: 16px auto 0;
        text-align: center;
        @include m.mq(md) {
          width: auto;
          display: grid;
          grid-template-columns: 1fr max-content;
          align-items: center;
        }
      }
    }
    

    
  }
  .mask.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}