@use "../default/variables" as v;
.header {
    background-color: #f0f0f0;
    .g-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 1400px;
      height: 114px;
      padding: 0 4%;
      margin: 0 auto;
      .logo {
        position:relative;
        display: grid;
        place-items: center;
        span {
          letter-spacing: 0.2em;
          font-weight: bold;
        }
        span:first-child {
          font-size: 18px;
          font-family: v.$noto-sans;
          color: v.$logo-sub-color;
        }
        span + span {
          font-size: 32px;
          font-family: v.$m-plus-round;
          color: v.$logo-color;
        }
      }
      .nav {
        display: flex;
        justify-content: center;
        column-gap: 24px;
        align-items: center;
        .nav-item {
          a {
            display: block;
          }
        }
        
        .primary-btn {
          border: 2px solid v.$logo-color;
          border-radius: 50px;
          background-color: v.$logo-color;
          a {
            width: 100%;
            height: 100%;
            padding: 16px 24px;
            font-family: v.$noto-sans;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.1em;
            color: v.$white;
          }
        }
      }
    }
}