.mask {
  position: relative;
  width: 500px;
  height: 500px;
  .mask-clip {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    clip-path: url("#mask-clip-path");
    img {
      width: 500px;
    }
  }
  svg {
    width: 100%;
  }
}
