@use "../default/variables" as v;
@use "../default/mixin" as m;

.office {
    background-color: #b3c5db;
    font-family: v.$m-plus-round;
    padding-bottom: 200px;;
    .container {
        position: relative;        
        width: 100%;
        padding-right: max(min(3.47vw,50px),(100vw - 1171px)/2);
        border: 1px solid transparent;
        .catch {
            text-align: center;
            z-index: 3;
            margin-top: -1.2em;
            font-size: clamp(3rem, 1.3333rem + 7.1111vw, 4rem);
            .office-title {
                position: relative;
                display: inline-flex;
                align-items: center;
                gap: 12px;
                width: max-content;
                font-family: v.$noto-sans;
                font-size: clamp(3rem, 1.3333rem + 7.1111vw, 4rem);
                color: v.$dk-gray; 

                &::before,
                &::after {
                    content: "";
                    width: 1em;
                    height: 3px;
                    border-radius: 100vh;
                    background-color: v.$yellow;
                    transform: translateY(50%) rotate(-45deg);
                }
            }
            .office-sub-title {
                text-align: center;
                font-size: clamp(1.125rem, 0.5rem + 2.6667vw, 1.5rem);
                font-weight: bold;
                color: v.$dk-gray;
            }
        }
        .intro {
            max-width: 700px;
            margin: 0 auto;
            padding: 24px 20px 24px 24px;
            @include m.mq(sm) {
                padding: 24px 36px;
            }
            .intro-text {
                text-align: justify;
                font-size: 16px;
                color: v.$chacoal;
                @include m.mq(sm) {
                    .intro-text {
                        font-size: 18px;
                    }   
                }
            }
        }

        .splide.office__splide {
            max-width: 100%;
            padding: 84px min(10.56vw,152px) 60px 40px;
            border-radius: 0 100vh 100vh 0;
            background: url("../../images/office.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left 40%;
            filter: grayscale(20%);
            z-index: 1;
            @include m.mq(sm) {
                padding: 84px min(10.56vw,152px) 60px 50px;
            }
            .splide__track {
                border-radius: 0 100vh 100vh 0;
                background-color: #ffffff99;
            
                .splide__list {
                    .splide__slide {
                        dl {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 350px;
                            height: 270px;
                            padding: 16px 0 16px 10px;
                            dt {
                                position: relative;
                                // border-bottom: 1px solid v.$dk-gray;
                                font-size: clamp(1.125rem, 0.9464rem + 0.7619vw, 1.375rem);
                                font-weight: bold;
                                color: v.$chacoal;
                                text-shadow: 2px 2px 1px #fff;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: calc(100% + 16px);
                                    width: 2px;
                                    height: 194px;
                                    background-color: v.$red;
                                }
                            }
                            dd {
                                margin-top: 16px;
                                padding-left: 8px;
                                font-size: 16px;
                                font-weight: bold;
                                color: v.$chacoal;
                                text-shadow: 1px 1px 2px #fff;;
                            }
                            .address {
                                font-size: 14px;
                                @include m.mq(lg) {
                                    font-size: 16px;
                                }
                            }
                            .tel {
                                font-family: v.$noto-sans;
                                font-size: clamp(1.125rem, 0.9464rem + 0.7619vw, 1.375rem);
                            }
                        }
                    }
                }
            }
            .splide__arrow--prev.custom-prev {
                left: .5em;
                @include m.mq(sm) {
                    left: 1em;
                }
            }
            .splide__pagination.custom-pagination {
                gap: 12px;
                .splide__pagination__page.custom-pagination-page {
                    width: 14px;
                    height: 14px;
                    border: 2px solid v.$white;
                    background-color: v.$red;
                }
            }
        }
    }
}