@use "../default/variables" as v;

.office {
    background-color: #b3c5db;
    font-family: v.$m-plus-round;
    padding-bottom: 200px;;
    .container {
        position: relative;        
        width: 100%;
        padding-right: max(min(3.47vw,50px),(100vw - 1171px)/2);
        border: 1px solid transparent;
        .catch {
            text-align: center;
            z-index: 3;
            margin-top: -60px;
            .office-title {
                position: relative;
                display: inline-flex;
                align-items: center;
                gap: 12px;
                width: max-content;
                font-family: v.$noto-sans;
                font-size: 64px;
                color: v.$dk-gray; 

                &::before,
                &::after {
                    content: "";
                    width: 1em;
                    height: 3px;
                    border-radius: 100vh;
                    background-color: v.$yellow;
                    transform: translateY(50%) rotate(-45deg);
                }
            }
            .office-sub-title {
                text-align: center;
                font-size: 26px;
                font-weight: bold;
                color: v.$dk-gray;
            }
        }
        .text-wrap {
            padding: 24px 46px;
            text-align: center;
            .text {
                font-size: 18px;
                font-weight: bold;
                color: v.$dk-gray;
            }
        }
        .inner {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 100%;
            padding: 84px min(10.56vw,152px) 60px min(3.47vw,50px);
            //padding: 84px min(10.56vw,152px) 60px 0;
            border-radius: 0 100vh 100vh 0;
            background: url("../../images/office1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(20%);
            z-index: 1;
            
            .img.office {
                position: absolute;
                top: 0;
                left: 0;
                max-width: 500px;
                z-index: 2;
            }
            
            .content-wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
                z-index: 3;
                padding: 12px;
                border-radius: 0 100vh 100vh 0;
                background-color: #ffffff99;
                dl {
                    dt {
                        border-bottom: 1px solid v.$dk-gray;
                        font-size: 22px;
                        font-weight: bold;
                        color: v.$chacoal;
                        text-shadow: 2px 2px 1px #fff;
                    }
                    dd {
                        padding-left: 0.8em;
                        font-size: 16px;
                        font-weight: bold;
                        color: v.$chacoal;
                        text-shadow: 1px 1px 2px #fff;;
                    }
                    dd {
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}