@use "../default/variables" as v;
.program {
  .container {
    padding: v.$padding-xl v.$padding-l;
    .catch {
      h2, h3 {
        text-align: center;
      }
      h2 {
        font-size: v.$h2;
        color: v.$sub-color;
      }
      h3 {
        font-size: v.$h3;
        color: v.$catch-sub-color;
      }
    }
    .box-container {
      margin-top: v.$margin-xl;
      .box {
        position: relative;
        width: 100%;
        .inner {
          h5 {
            font-size: v.$h5;
          }
          .button {
            display: block;
            width: 250px;
            margin-top: v.$margin-lm;
            padding: v.$padding-m v.$padding-mm;
            border-radius: v.$min-radius;
            color: v.$white;
            text-align: center;
          }
          li {
            margin: v.$margin-m 0;
            span:last-child {
              margin-left: v.$margin-m;
              color: v.$dk-gray;
            }
          }
        }
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 1000px;
          transform: translate(-50%, -50%) ;
          z-index: -1;
          opacity: 0.2;
        }
      }
      & .box:nth-of-type(1) {
        margin-left: 10%;
        .inner {
          h5 {
            color: v.$heading-sub-color;
          } 
          span:first-child {
            color: v.$heading-sub-color;
          }
          .button {
            background-color: v.$sub-color;
          }
        }
        svg {
          left: 10%;
        }
      }
      & .box:nth-of-type(2) {
        margin-top: -200px;
        margin-left: 70%;
        .inner {
          h5 {
            color: v.$catch-color;
          }
          span:first-child {
            color: v.$catch-color;
          }
          .button {
            background-color: v.$catch-color;
          }
        }
        svg {
          left: 10%;
        }
      }
      & .box:nth-of-type(3) {
        width: max-content;
        margin: -50px auto 0;
        .inner {
          h5 {
            color: v.$accent-color;
          }
          h5 + p {
            margin: v.$margin-m 0;
          }
          span:first-child {
            color: v.$accent-color;
          }
          .button {
            background-color: v.$accent-color;
          }
        }
        svg {
          width: 300%;
          left: 50%;
          z-index: -2;
        }
      }
    }
  }
}