@use "../default/variables" as v;
.problems {
  position: relative;
  margin-top: 250px;
  padding: v.$padding-xl v.$padding-l;
  background-image: radial-gradient(#caf6cd 2px, transparent 2px);
  background-size: 25px 25px;
  //background-color: #2379e3;
  overflow: visible;
  .container {
    width: 100%;
    border-radius: 20px;
    .catch {
      text-align: center;
      h2 {
        font-size: v.$h2;
        font-family: v.$noto-sans;
        letter-spacing: 0.1em;
        color: v.$chacoal;
      }
      h3 {
        font-size: v.$h4;
        font-family: v.$noto-sans;
        letter-spacing: 0.1em;
        color: v.$chacoal;
      }
    }
    .problem-list {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      margin-top: v.$margin-xl;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        padding: v.$padding-mm;
        border: none;
        clip-path: url("#blobClip");
        overflow: visible;
        font-size: v.$h6;
        letter-spacing: 0.1em;
        background: linear-gradient(133deg,rgba(255, 255, 255, 1) 0%, rgba(255, 135, 25, 1) 35%);
        font-size: 14px;
        color: v.$white;
        transform: scale(1.4);
      }
      li:first-child {
        grid-column: 2/3;
        grid-row: 1;
      }
      li:nth-child(2) {
        grid-column: 3/4;
        grid-row: 1;
      }
      li:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2;
      }
      li:last-child {
        grid-column: 4/5;
        grid-row: 2;
      }
    }
    img {
      position: relative;
      margin: -100px auto;
    }
  }
}