@use "../default/variables" as v;
.problems {
  position: relative;
  padding: 160px 0 50px;
  font-family: v.$m-plus-round;
  background-color: #f0f0f0;

  .arrow {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%,0);
    width: 120px;
    height: 60px;
    background-color: #f0f0f0;
    clip-path: polygon(50% 65%, 0 0, 100% 0);
    z-index: 2;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    .catch {
      text-align: center;
      .problems-text {
        font-size: 24px;
        font-weight: bold;
        color: v.$dk-gray;
      }
      .problems-title {
        position: relative;
        width: max-content;
        margin: 0 auto;
        font-size: 48px;
        letter-spacing: 0.1em;
        color: v.$dk-gray;
      }
      .problems-title::before,
      .problems-title::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 50px;
        height: 50px;
      }
      .problems-title::before {  
        left: -60px;
        background: url("../../images/SVG/line-left.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .problems-title::after {
        right: -60px;
        background: url("../../images/SVG/line-right.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
    
    .img-wrap {
      margin-top: 36px;
      img {
        width: min(92%, 760px);
        margin: 0 auto;
      }
    }
    .text-wrap {
      margin-top: 64px;
      .text{
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        color: v.$dk-gray;
      }
      
    }
  }
}