@use "../default/variables" as v;
@use "../default/mixin" as m;
.program {
  position: relative;
  margin: 160px 0;
  font-family: v.$m-plus-round;
  background-color: #fafafa;
  z-index: 1;

  .line-svg {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100dvw;
    height: auto;
    min-height: 1600px;
    z-index: 0;
    //transform: translateY(-50%);
    
    &.pc {
      display: none;
      @include m.mq(xl) {
        display: revert;
      }
    }
    &.sp {
      top: 45%;
      display: revert;
      @include m.mq(xl) {
        display: none;
      }
    }
  }

  .container {
    position: relative;
    margin-left: 4%;
    padding: 
    clamp(9.375rem, 28.571vw + 2.679rem, 18.75rem)
    0
    clamp(9.375rem, 28.571vw + 2.679rem, 18.75rem)
    ;
    border-radius: 80vw 0 0 80vw;
    background: #b3c5db;
    @include m.mq(lg) {
      margin-left: 10%;
      border-radius: 100vw 0 0 100vw;
    }
    @include m.mq(xl) {
      padding: 150px 0;
    }

    .catch {
      position: relative;
      .program-title {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 12px;
        width: max-content;
        font-family: v.$noto-sans;
        font-size: clamp(3rem, 1.3333rem + 7.1111vw, 4rem);
        color: v.$dk-gray; 
        &::after {
          content: "";
          width: 1em;
          height: 3px;
          border-radius: 100vh;
          background-color: v.$orange;
          transform: translateY(50%);
        }
      }
      .program-sub-title {
        font-size: clamp(1.125rem, 0.5rem + 2.6667vw, 1.5rem);
        font-weight: bold;
        color: v.$dk-gray;
        letter-spacing: 0.13em;
      }
    }

    .inner {
      max-width: 1160px;
      margin: 0 auto 0 10%;  
      @include m.mq(sm) {
        margin: 0 auto 0 18%;
      }
      .obj.circle-blue {
        position: absolute;
        top: clamp(6.25rem, 15.306vw + 2.663rem, 10rem);
        left: 0;
        width: 700px;
        filter: blur(2px);
        transform: translate(-30%, -30%);
        z-index: -1;
        @include m.mq(md) {
          top: 200px;
        }
        @include m.mq(xl) {
          top: 90px;
        }
      }
      .intro {
        max-width: 700px;
        margin-top: 32px;
        padding-right: 12px;
        .intro-text {
          font-size: 16px;
        }

        @include m.mq(sm) {
          .intro-text {
            font-size: 18px;
          }   
        }

      }
      .box-container {
        padding: 36px 0;
        .splide__arrow--prev.custom-prev {
          left: -1.5em;
        }
        .splide__pagination.custom-pagination {
          bottom: -1.5em;
          gap: 12px;
          .splide__pagination__page.custom-pagination-page {
            width: 14px;
            height: 14px;
            border: 2px solid v.$white;
            background-color: v.$red;
          }
        }
        .splide__slide {
          .box {
            position: relative;
            .content {
              display: grid;
              grid-template-rows: auto auto 1fr auto;
              height: 100%;
              .heading {
                text-align: center;
                font-size: 20px;
                background: linear-gradient(90deg, v.$deep-green 0px, v.$deep-green 3px, transparent 3px, transparent 100%);
                color: v.$dk-gray

              }
              .thumbnail {
                width: 250px;
                aspect-ratio: 1/1;
                margin: 16px auto;
                border-radius: 50%;
                object-fit: cover;
                @include m.mq(sm) {
                  width: 300px;
                }
              }
              .text {
                padding: 8px;
                border-bottom: 1px solid #000;
                text-align: justify;
                font-size: 18px;
                .bold {
                  display: inline-block;
                  margin-bottom: 8px;
                  font-weight: bold;
                  color: v.$deep-green;
                  text-shadow: 1px 1px 2px #ddd;
                }
              }
              .list {
                display: flex;
                flex-direction: column;
                padding: 8px;
                font-size: 16px;
                .list-item {
                  padding: 8px 0;
                  .icon {
                    color: v.$deep-green;
                  }
                  .item {
                    margin-left: 4px;
                    color: v.$dk-gray;
                  }
                }
              }
            }
          }
          &:nth-child(2) {
              .box {
                .heading {
                  background: linear-gradient(90deg, v.$blue 0px, v.$blue 3px, transparent 3px, transparent 100%);
                }
                .text {
                  .bold {
                    color: v.$blue;
                  }
                }
                .icon > i {
                  color: v.$blue;
                }
              }
            }
            &:nth-of-type(3) {
              .box {
                .heading {
                  background: linear-gradient(90deg, v.$orange 0px, v.$orange 3px, transparent 3px, transparent 100%);
                }
                .text {
                  .bold {
                    color: v.$orange;
                  }
                }
                .icon > i {
                  color: v.$orange;
                }
              }
            }
        }
      }
    }
  }

  .domains {
    position: relative;
    max-width: 1160px;
    margin: 160px auto;
    padding: 0 4%;
    z-index: 1;
    @include m.mq(xl) {
      padding-inline: 0;
    }

    .domains-head {
      .text {
        text-align: center;
        font-size: clamp(1.25rem, 0.5344rem + 3.0534vw, 2rem);
        font-weight: bold;
        color: v.$dk-gray;
        letter-spacing: 0.15em;
      }
      .desc {
        max-width: 700px;
        margin: 16px auto 0;
        font-size: clamp(0.9375rem, 0.6393rem + 1.2723vw, 1.25rem);
        color: v.$dk-gray
      }
    }

    .domain-wrap {
      position: relative;
      counter-reset: domains;
      max-width: 360px;
      height: 360px;
      margin: 94px auto;
      transform: scale(0.7);
      @include m.mq(sm) {
        transform: scale(1.0);
      }
      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: conic-gradient(
          v.$red 0 20%,
          v.$purple 20% 40%,
          v.$orange 40% 60%,
          v.$blue 60% 80%,
          v.$green 80% 100%
        );
        -webkit-mask: radial-gradient(
          farthest-side,
          transparent calc(100% - 6px),
          #000 calc(100% - 6px)
        );
        mask: radial-gradient(
          farthest-side,
          transparent calc(100% - 6px),
          #000 calc(100% - 6px)
        );
          
        ;
        // -webkit-mask-composite: intersect;
        mask-composite: intersect;
      }

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 310px;
        height: 310px;
        border: 3px dotted v.$yellow;
        border-radius: 50%;
      }

      .domain {
        --n: 5;
        --r: 150px;
        --angle: calc(360deg / var(--n) * var(--i));
        position: absolute;
        top: 50%;
        left: 50%;
        display: grid;
        place-items: center;
        width: 150px;
        aspect-ratio: 1/1;
        border: 10px solid v.$red;
        border-radius: 50%;
        background-color: #fff;
        color: v.$red;
        z-index: 1;
        transform: translate(-50%, -50%) rotate(calc(var(--angle) - 90deg)) translateX(var(--r)) rotate(calc(-1 * (var(--angle) - 90deg)));
        .text {
          position: relative;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          z-index: 3;
          text-shadow: 2px 2px 1px #fff;
        }
        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          counter-increment: domains;
          content: "0" counter(domains);
          display: grid;
          place-items: center;
          font-size: 82px;
          font-weight: bold;
          font-family: v.$noto-sans;
          color: #eee;
          z-index: 2;
        }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 142.5px;
          aspect-ratio: 1/1;
          border: 2px solid #fff;
          border-radius: 50%;
        }
      }
      .domain.second {
        
        border-color: v.$purple;
        color: v.$purple;
      }
      .domain.third {
        
        border-color: v.$orange;
        color: v.$orange;
      }
      .domain.fourth {
        
        border-color: v.$blue;
        color: v.$blue;
      }
      .domain.fifth {
        
        border-color: v.$green;
        color: v.$green;
      }
    }

    .list-wrap {
      max-width: 760px;
      margin: 0 auto;
      .list {
        counter-reset: list;
        
        .list-item {
          position: relative;
          counter-increment: list;
          display: grid;
          &:not(first-child) {
            margin-top: 16px;
          }
          &::before {
            content: "0" counter(list);
            position: absolute;
            top: 0;
            left: 0;
            display: inline-grid;
            place-content: center;
            width: 50px;
            aspect-ratio: 1/1;
            border: 4px solid v.$red;
            border-radius: 50%;
            background-color: #fff;
            font-size: 18px;
            font-weight: bold;
            font-family: v.$noto-sans;
            color: v.$red;
          }

          &:not(:last-child)::after {
            content: "";
            position: absolute;
            top: 50px;
            left: 23px;
            display: inline-block;
            width: 4px;
            height: 100%;
            // background-color: #000;
            background: linear-gradient(180deg, v.$red 0%, v.$purple 30%);
          }

          &:nth-child(2) {

            &::before {
              border-color: v.$purple;
              color: v.$purple;
            }
            &::after {
              background: linear-gradient(180deg, v.$purple 0%, v.$orange 90%);
            }
            .list-title {
              color: v.$purple;
            }
          }
          &:nth-child(3) {

            &::before {
              border-color: v.$orange;
              color: v.$orange;
            }
            &::after {
              background: linear-gradient(180deg, v.$orange 0%, v.$blue 80%);
            }
            .list-title {
              color: v.$orange;
            }
          }
          &:nth-child(4) {

            &::before {
              border-color: v.$blue;
              color: v.$blue;
            }
            &::after {
              background: linear-gradient(180deg, v.$blue 0%, v.$green 80%);
            }
            .list-title {
              color: v.$blue;
            }
          }
          &:nth-child(5) {

            &::before {
              border-color: v.$green;
              color: v.$green;
            }

            .list-title {
              color: v.$green;
            }
          }

          .list-title {
            padding: 8px 0 8px 60px;
            font-size: 22px;
            font-weight: bold;
            color: v.$red;
          }
          .list-text {
            width: calc(100% - 60px);
            margin-left: auto;
            padding: 16px;
            font-size: 16px;
            font-weight: bold;
            color: v.$dk-gray;
            background-color: #fff;
            border-radius: 16px;
          }
        }
      }
    }
    
    .obj {
      position: absolute;
      width: 150px;
      aspect-ratio: 1/1;
      rotate: 45deg;
      z-index: -1;
    }

    .obj.square-green {
      width: 200px;
      top: 10%;
    }
    .obj.square-orange {
      top: 0%;
      right: 15%;
    }
    .obj.square-red {
      width: 250px;
      top: 40%;
      right: 10%
    }
    .obj.square-blue {
      width: 80px;
      top: 75%;
      left: 0;
    }
    .obj.square-pink {
      width: 200px;
      top: 90%;
      right: 5%;
    }
  }
  // @include m.mq(xl) {
  //   .domains {
  //     padding-inline: 0;
  //     .sp {
  //       display: none;
  //     }
  //   }
  // }
  // @include m.mq(lg) {
  //   .sp-lg {
  //     display: none;
  //   }
  // }
  // @include m.mq(sm) {
  //   .domains {
  //     .domain-wrap {
  //       transform: scale(1.0);
  //     }
  //   }
  //   .sp-sm {
  //     display: none;
  //   }
  // }


}