@use "../default/variables" as v;
.program {
  position: relative;
  font-family: v.$m-plus-round;
  background-color: #fafafa;

  .container {
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    padding: 160px 0 240px;

    .obj.circle-blue {
      position: absolute;
      top: -5%;
      left: -40%;
      width: 700px;
      filter: blur(2px);
      z-index: 0;
    }
    .catch {
      position: relative;
      z-index: 1;
      text-align: center;
      .program-title {
        font-size: 40px;
        font-weight: bold;
      }
      .program-text {
        font-size: 32px;
        font-weight: bold;
      }
    }
    .box-container {
      display: grid;
      gap: 94px;
      margin-top: 94px;
      .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 32px;
        .content {
          .heading {
            font-size: 24px;
          }
          .text {
            padding-block: 20px;
            border-bottom: 1px solid #000;
          }
          .list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 16px;
            margin-top: 20px;
            .list-item {
              padding: 12px 0;
              span:last-child {
                margin-left: 4px;
                color: v.$dk-gray;
              }
            }
          }
          .button {
            display: block;
            width: 250px;
            margin: 32px auto;
            padding: v.$padding-m v.$padding-mm;
            border-radius: v.$min-radius;
            color: v.$white;
            text-align: center;
          }
        }

        &:nth-of-type(1) {
          .heading {
            color: v.$heading-sub-color;
          } 
          span:first-child {
            color: v.$heading-sub-color;
          }
          .button {
            background-color: v.$sub-color;
          }
        }

        &:nth-of-type(2) {
          .content {
            order: 2;
            .heading {
              color: v.$catch-color;
            }
            span:first-child {
              color: v.$catch-color;
            }
            .button {
              background-color: v.$catch-color;
            }
          }
          svg {
            order: 1;
          }
        }

        &:nth-of-type(3) {
          .heading {
            color: v.$accent-color;
          }
          h5 + p {
            margin: v.$margin-m 0;
          }
          span:first-child {
            color: v.$accent-color;
          }
          .button {
            background-color: v.$accent-color;
          }
        }
      }
    }
  }
}