@use "../default/variables" as v;
.problems {
  position: relative;
  margin-top: 250px;
  padding: 72px 0 250px;
  // background-image: radial-gradient(#caf6cd 2px, transparent 2px);
  background: url("../../images/bg-problem.png");
  background-repeat: repeat;
  background-position: center bottom;
  overflow: hidden;
  .container {
    position: relative;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    .catch {
      text-align: center;
      font-family: v.$m-plus-round;
      h2 {
        display: inline-grid;
        grid-template-columns: 50px 1fr 50px;
        align-items: center;
        font-size: 48px;
        letter-spacing: 0.1em;
        color: v.$chacoal;
      }
      h2::before,
      h2::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      h2::before {
        background: url("../../images/SVG/line-left.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      h2::after {
        background: url("../../images/SVG/line-right.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

      }
      h3 {
        font-size: 40px;
        letter-spacing: 0.1em;
        color: v.$chacoal;
      }
    }
    .problem-list {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      column-gap: 40px;
      margin-top: v.$margin-xl;
      li {
        width: 300px;
        height: 300px;
        // clip-path: url("#blobClip");
        overflow: visible;
      }
      li:first-child {
        grid-column: 2/3;
        grid-row: 1;
      }
      li:nth-child(2) {
        grid-column: 3/4;
        grid-row: 1;
      }
      li:nth-child(3) {
        grid-column: 1/3;
        grid-row: 2;
        justify-self: start;
      }
      li:nth-child(4) {
        grid-column: 4/5;
        grid-row: 2;
        justify-self: end;
      }
      li:nth-child(5) {
        grid-column: 2/4;
        grid-row: 2;
      }
      
    }
    
  }
}