@use "../default/variables" as v;
@use "../default/mixin.scss" as m;

.problems {
  position: relative;
  padding: 60px 0 50px;
  font-family: v.$m-plus-round;
  background-color: #f0f0f0;
  @include m.mq(md) {
    padding: 160px 0 50px;
  }
  .container {
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    .catch {
      text-align: center;
      .problems-text {
        font-size: clamp(1rem, 0.7611rem + 1.0191vw, 1.5rem);
        font-weight: bold;
        color: v.$dk-gray;
        line-height: 1.6;
      }
      .problems-title {
        display: inline-flex;
        align-items: center;
        width: max-content;
        margin: 0 auto;
        font-size: clamp(1.125rem, 0.2293rem + 3.8217vw, 3rem);
        letter-spacing: 0.1em;
        color: v.$dk-gray;
      }
      .problems-title::before,
      .problems-title::after {
        content: "";
        width: clamp(1.5625rem, 0.8161rem + 3.1847vw, 3.125rem);
        aspect-ratio: 1/1;
      }
      .problems-title::before {  
        background: url("../../images/SVG/line-left.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .problems-title::after {
        background: url("../../images/SVG/line-right.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
    
    .img-wrap {
      margin-top: 36px;
      img {
        width: min(92%, 760px);
        margin: 0 auto;
      }
    }
    .text-wrap {
      margin-top: 64px;
      .text{
        font-size: clamp(1.25rem, 0.8917rem + 1.5287vw, 2rem);
        text-align: center;
        font-weight: bold;
        color: v.$dk-gray;
      }
    }
  }
  @include m.mq(sm) {
    .sp {
      display: none;
    }
  }
}