@use "../default/variables" as v;
.voice {
  background-color: #fef1fc;
  background: radial-gradient(
  #f8e5f5 1.5px,
  #faf6f6 1.5px,
  );
  background-size: 15px 15px;
  background-repeat: repeat;
  font-family: v.$m-plus-round;
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 160px 0;
    .catch {
      .voice-title {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
      }
    }
    .item-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: v.$margin-xl;
      .item {
        display: flex;
        align-items: center;
        gap: 32px;
        .icon {
          width: 100px;
          height: 100px;
        }
        .voice-text {
          position: relative;
          width: 60%;
          padding: 16px 24px;
          border-radius: 32px;
          background-color: #fff;
          font-weight: semi-bold;
          font-size: 16px;
          color: v.$chacoal;
        }
        .voice-text::before {
          content: "";
          position: absolute;
          width: 32px;
          height: 24px;
          top: 50%;
          left: -24px;
          transform: translateY(-50%) rotate(-90deg);
          background-color: #fff;
          clip-path: polygon(50% 0, 0% 100%, 100% 100%);
        }
      }

      .item:nth-child(even) {
        flex-direction: row-reverse;
        .voice-text::before {
          left: initial;
          right: -24px;
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }
}