@use "../default/variables" as v;
@use "../default/mixin" as m;
.voice {
  padding: 0 4%;
  background-color: #fef1fc;
  font-family: v.$m-plus-round;
  position: relative;
  .custom-shape-divider-bottom-1765980372 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1765980372 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1765980372 .shape-fill {
    fill: #fef1fc;
}

  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 160px 0;

    .mesh {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      border-radius: 30px;
      background-image:radial-gradient(circle, #bcd6fd 1px, transparent 1.2px);
      background-repeat: repeat;
      background-size: 5px 5px, 5px 5px;
      mask-image: linear-gradient(90deg, transparent, #fff 90%);
      z-index: 1;
    }
    .mesh.blue {
      background-image:radial-gradient(circle, #ffa1a3 2px, transparent 2.2px);
      top: 300px;
      width: 150px;
      height: 150px;
      opacity: 0.6;
    }
    .catch {
      position: relative;
      .voice-title {
        position: relative;
        width: max-content;
        margin: 0 auto;
        border-bottom: 3px solid #555;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: v.$dk-gray;
        line-height: 1.7;
        letter-spacing: 0.15em;
        z-index: 1;
        @include m.mq(sm) {
          font-size: 32px;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 102%;
          transform: rotate(25deg);
          z-index: 0;
          width: 64px;
          height: 45px;
          background-image: url("../images/note-pen.png");
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .voice-sub-title {
        margin-top: 16px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: v.$dk-gray;
        line-height: 1.7;
        @include m.mq(sm) {
          font-size: 20px;
        }
        .sp {
          display: revert;
          @include m.mq(sm) {
            display: none;
          }
        }
      }
    }
    .item-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 64px;
      
      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 150px;
        gap: 32px;
        
        .icon {
          max-width: 100px;
          min-width: 15%;
        }
        .voice-text {
          position: relative;
          padding: 16px 24px;
          border-radius: 32px;
          background-color: #fff;
          font-size: 14px;
          color: v.$chacoal;
          box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
          @include m.mq(sm) {
            width: 60%;
            font-size: 16px;
          }
        }
        .voice-text::before {
          content: "";
          position: absolute;
          width: 32px;
          height: 24px;
          top: 50%;
          left: -24px;
          transform: translateY(-50%) rotate(-90deg);
          background-color: #fff;
          clip-path: polygon(50% 0, 0% 100%, 100% 100%);
        }
      }

      .item:nth-child(even) {
        flex-direction: row-reverse;
        .voice-text {
          box-shadow: -5px 5px 8px rgba(0,0,0,0.3);
        }
        .voice-text::before {
          left: initial;
          right: -24px;
          transform: translateY(-50%) rotate(90deg);
          
        }
      }

      .item:nth-child(1) img {
        transform: scaleY(1.4);
        @include m.mq(sm) {
          transform: scaleY(1.0);
        }
      }
      .item:nth-child(4) img {
        transform: scaleY(1.4);
        @include m.mq(sm) {
          transform: scaleY(1.0);
        }
      }
      .item:nth-child(5) img {
        transform: scaleY(1.2);
        @include m.mq(sm) {
          transform: scaleY(1.0);
        }
      }
    }
  }
}