@use "./variables" as v;
@use "./breakpoints" as b;
@use "./mixin" as m;

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  color: #000;
  text-decoration: none;
}
ul, li {
  list-style: none;
}
h5, h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  letter-spacing: 0.15em;
  line-height: 1.7;
}
.sp {
  display: revert;
}
// @include m.mq(lg) {
//   .sp {
//     display: none;
//   }
// }
// @media (min-width: 1160px) {
//   .sp {
//     display: none;
//   }
// }

.circle-btn {
  position: fixed;
  bottom: 42px;
  right: 42px;
  width: 180px;
  height: 180px;
  border: none;
  border-radius: 50%;
  background-color: v.$main-color;
  z-index: 100;
  cursor: pointer;
  font-family: v.$m-plus-round;
  font-size: 18px;
  font-weight: bold;
  color: #eee;
  letter-spacing: 0.1em;

  .triangle {
    display: block;
    margin: 10px auto;
    animation: rotate_animation 3s linear infinite;
  }
  @keyframes rotate_animation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  .dot-line {
    position: absolute;
    top: 0;
    left: 0;
    stroke-dashoffset: 0;
    animation: dash_animation1 15s linear infinite;
  }
  @keyframes dash_animation1 {
    to {
      stroke-dashoffset: 504;
    }
  } 
}
@font-face {
  font-family: 'apricotJapanesefont';
  src: url('../../fonts/apricotJapanesefont.woff2') format('woff2'),
  url('apricotJapanesefont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "APJapanesefontH";
  src: url("../../fonts/APJapanesefontH.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "APJapanesefontHT";
  src: url("../../fonts/APJapanesefontHT.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Natsume";
  src: url("../../fonts/Natsume.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url("../../'RoundedMplus1c-Bold.woff2'") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

