@use "./variables" as v;
@use "./breakpoints" as b;
@use "./mixin" as m;

* {
  box-sizing: border-box;
}
html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  color: #000;
  text-decoration: none;
}
ul, li {
  list-style: none;
}
h5, h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  letter-spacing: 0.15em;
  line-height: 1.7;
}
.sp {
  display: revert;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.skip-link {
  position: absolute;
  left: -9999px;
}
.skip-link:focus {
  left: 16px;
  top: 16px;
  z-index: 9999;
}
.animal-wrap {
  position: absolute;
  width: 70px;
}
.animal-svg {
  width: 100%;
  height: auto;
  display: block;
}
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url("../../'RoundedMplus1c-Bold.woff2'") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url('../../RoundedMplus1c-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
