@use "sass:map";
@use "./breakpoints" as b;

@mixin mq($key) {
    $bp: map.get(b.$breakpoints, $key);
    @media(min-width: #{$bp}) {
        @content;
    }
}

@mixin pc-hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}