@charset "utf-8";
$fixed-btn-color: #9CC4FF;
$blue: #2379E3;
$header-color: #2AA8C3;
$logo-sub-color: #90A4AE;
$green: #55DD96;
$deep-green: #5d9f66;
$orange: #FF8719;
// $accent-sub-color: #ffdea4;
$red: #ff6b6b;
$yellow: #fdef2e;
$purple: #ECAEFF;
$dk-gray: #555;
$chacoal: #333;
$white: #fff;
$ivory: #eee;

$noto-sans: "Noto Sans JP", sans-serif;
$auto-opt-sizing: auto;
$m-plus-round: "M PLUS Rounded 1c", sans-serif;
