@charset "utf-8";

$main-color: #9CC4FF;
$sub-color: #33CC99;
$accent-color: #FF8719; //gradation
$accent-sub-color: #ffdea4;
$logo-color: #2AA8C3;
$logo-sub-color: #90A4AE;
$catch-color: #2379E3;
$catch-sub-color: #55DD96; //gradation
$heading-color: #21C4E9; //gradation
$heading-sub-color: #5d9f66;
$red: #ff6b6b;
$yellow: #fdef2e;
$purple: #ECAEFF;
$gray: #aaa;
$dk-gray: #555;
$chacoal: #333;
$white: #fff;
$ivory: #eee;
$black: #000;

$h1: 48px;
$h2: 40px;
$h3: 32px;
$h4: 28px;
$h5: 24px;
$h6: 18px;
$paragraph: 16px;
$medium-text: 14px;
$small-text: 12px;

$font-anzu: "apricotJapanesefont", sans-serif;
$font-natsume: "Natsume", sans-serif;
$font-anzushi: "APJapanesefontH",sans-serif;
$noto-sans: "Noto Sans JP", sans-serif;
$robot: "Roboto", sans-serif;
$auto-opt-sizing: auto;
$rampart: "Rampart One", sans-serif;
$rocknroll: "RocknRoll One", sans-serif;
$mochiy-pop: "Mochiy Pop One", sans-serif;
$m-plus-round: "M PLUS Rounded 1c", sans-serif;

$margin-xl: 4rem;
$margin-l: 3rem;
$margin-lm: 2rem;
$margin-m: 1rem;
$margin-ls: 0.75rem;
$margin-s: 0.5rem;

$padding-xl: 4rem;
$padding-l: 3rem;
$padding-lm: 2rem;
$padding-mm: 1.5rem;
$padding-m: 1rem;
$padding-ls: 0.75rem;
$padding-s: 0.5rem;

$min-radius: 10px;
$max-radius: 50%;

$border: 1px solid #000;

$box-shadow: 0px 5px 8px 2px rgba(17,17,26,0.08);

$gradation-green: linear-gradient(135deg,rgba(255, 255, 255, 1) 0%, rgba(85, 221, 150, 1) 100%);
$gradation-blue: linear-gradient(135deg,rgba(255, 255, 255, 1) 0%, rgba(33, 196, 233, 1) 100%);
$gradation-orange: linear-gradient(135deg,rgba(255, 255, 255, 1) 0%, rgba(255, 135, 25, 1) 100%);